body,
html {
    overflow-x: hidden;
}

body {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.7;
    position: relative;
}

@media (max-width: 575px) {
    .bg-image {
        background-size: 100% 100%;
        background: url(/images/bg_mobile.png) no-repeat;
        background-size: cover;
    }
    .body-bg-img {
        background: url(/images/bg_mobile.png) no-repeat;
        background-size: cover;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .bg-image {
        background-size: 100% 100%;
        background: url(/images/bg_mobile.png) no-repeat;
        background-size: cover;
    }
    .body-bg-img {
        background: url(/images/bg_mobile.png) no-repeat;
        background-size: cover;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .bg-image {
        background-size: 100% 100%;
        background: url(/images/bg_mobile.png) no-repeat;
        background-size: cover;
    }
    .body-bg-img {
        background: url(/images/bg_mobile.png) no-repeat;
        background-size: cover;
    }
}


/* LAPTOP */


/* For 1024 Resolution */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .bg-image {
        background-size: 100% 100%;
        background: url(/images/backgroup_non_mobile.png) no-repeat;
        background-size: cover;
    }
    .body-bg-img {
        background: url(/images/backgroup_non_mobile.png) no-repeat;
        background-size: cover;
    }
}

@media only screen and (min-width: 1030px) and (max-width: 1366px) {
    .bg-image {
        background-size: 100% 100%;
        background: url(/images/backgroup_non_mobile.png) no-repeat;
        background-size: cover;
    }
    .body-bg-img {
        background: url(/images/backgroup_non_mobile.png) no-repeat;
        background-size: cover;
    }
}

@media only screen and (min-width: 1370px) and (max-width: 1605px) {
    .bg-image {
        background-size: 100% 100%;
        background: url(/images/backgroup_non_mobile.png) no-repeat;
        background-size: cover;
    }
    .body-bg-img {
        background: url(/images/backgroup_non_mobile.png) no-repeat;
        background-size: cover;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.3;
    color: white;
}

h1 {
    font-size: 55px;
}

@media (max-width: 575px) {
    .bg-image {
        background-size: 100% 100%
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .bg-image {
        background-size: 100% 100%;
    }
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 16px;
    }
    h6 {
        font-size: 16px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .bg-image {
        background-size: 100% 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .bg-image {
        background-size: 100% 100%;
    }
}