<template>
  <div>
    <section class="footer-action">
      <div class="container">
        <h4 class="headline-support wow fadeInDown">LETS JOIN TOGETHER</h4>
        <h2 class="headline wow fadeInDown" data-wow-delay="0.1s">
          JOIN THE FORUM
        </h2>

        <div class="footer_bottom-bg">
          <a
            class="btn btn-success btn-xl wow zoomIn"
            data-wow-delay="0.3s"
            href="#"
            data-toggle="modal"
            @click="showModal('registration')"
            >CONFIRM MY SEAT</a
          >
        </div>
      </div>
    </section>

    <footer>
      <div class="social-icons">
        <a
          href="https://id.linkedin.com/company/bina-busana-internusa"
          class="wow zoomIn"
          target="_blank"
        >
          <i class="fa fa-linkedin"></i>
        </a>
        <a
          href="https://www.facebook.com/binabusanainternusa.produksi"
          class="wow zoomIn"
          data-wow-delay="0.2s"
          target="_blank"
        >
          <i class="fa fa-facebook"></i>
        </a>
        <a
          href="https://www.instagram.com/binabusana.id/"
          class="wow zoomIn"
          data-wow-delay="0.4s"
          target="_blank"
        >
          <i class="fa fa-instagram"></i>
        </a>
      </div>
      <p>
        <small class="text-muted">Copyright © 2021. All rights reserved</small>
      </p>
    </footer>
  </div>
</template>

<script>
import landingPage from "../LandingPage.vue";
export default {
  components: {
    landingPage,
  },
  methods: {
    showModal(modalName) {
      this.$root.$refs.landingPage.showModal(modalName);
    },
  },
};
</script>