<template>
  <nav
    class="navbar navbar-default navbar-fixed-top reveal-menu js-reveal-menu"
    v-bind:class="showHideMenu"
  >
    <div class="container">
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#navbar"
          aria-expanded="false"
          aria-controls="navbar"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"
          ><img :src="logo_scr" alt="Bif" width="40em" />
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#top">Home</a></li>
          <li><a href="#schedule">Schedule</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <li><a href="#sponsors" class="hidden-sm">Sponsors</a></li>
          <!-- <li class="dropdown">
            <a
              href="#"
              class="dropdown-toggle"
              data-toggle="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >Pages <span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li>
                <a href="/hasil_vote">Votes</a> -->
                <!-- <router-link :to="{ name: 'votes' }">Votes</router-link> -->
              <!-- </li> -->
              <!-- <li>
                <router-link :to="{ name: 'doorpize' }">Doorprize</router-link>
              </li> -->
            <!-- </ul> -->
          <!-- </li> -->
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>
</template>

<script>
export default {
  mounted() {
    window.addEventListener("scroll", this.onScroll);
  },
  beforeDestroy() {
    window.removeEventListener("scroll", this.onScroll);
  },
  data() {
    return {
      showNavbar: false,
      logo_scr: "/images/logo.png",
    };
  },
  methods: {
    onScroll() {
      const currentScrollPosition =
        window.pageYOffset || document.documentElement.scrollTop;
      if (currentScrollPosition < 0) {
        return;
      }

      if (currentScrollPosition > 100) {
        this.showNavbar = true;
      } else {
        this.showNavbar = false;
      }
    },
  },
  computed: {
    showHideMenu() {
      return this.showNavbar ? "reveal-menu-visible" : "reveal-menu-hidden";
    },
  },
};
</script>