<template>
   <footer class="footer footer-static footer-light" v-if="isLogin">
        <p class="clearfix mb-0"><span class="float-left d-inline-block">2021 &copy; Bina Busana Improvement Forum</span>
            <button class="btn btn-primary btn-icon scroll-top" type="button"><i class="bx bx-up-arrow-alt"></i></button>
        </p>
    </footer>
</template>

<script>
export default {
    data(){
        return{
            isLogin: false
        }
    },
    watch: {
        '$store.state.isLogin': function() {
            this.isLogin = this.$store.state.isLogin;
        }
    }
}
</script>