<template>
  <div
    class="main-menu menu-fixed menu-light menu-accordion menu-shadow"
    data-scroll-to-active="true"
    v-show="isLogin"
  >
    <div class="navbar-header">
      <ul class="nav navbar-nav flex-row">
        <li class="nav-item mr-auto">
          <a class="navbar-brand" href="/backend/dashboard">
            <div class="brand-logo"><img class="logo" :src="logo_scr" /></div>
            <h2 class="brand-text mb-0" style="color: black">BIF</h2>
          </a>
        </li>
        <li class="nav-item nav-toggle">
          <a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"
            ><i class="bx bx-x d-block d-xl-none font-medium-4 primary"></i
            ><i
              class="
                toggle-icon
                bx bx-disc
                font-medium-4
                d-none d-xl-block
                primary
              "
              data-ticon="bx-disc"
            ></i
          ></a>
        </li>
      </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
      <ul
        class="navigation navigation-main"
        id="main-menu-navigation"
        data-menu="menu-navigation"
        data-icon-style="lines"
      >
        <router-link
          :to="{ name: 'dashboard_backend' }"
          v-slot="{ href, navigate, isActive, isExactActive }"
          custom
        >
          <li :class="{ active: $route.name === 'dashboard_backend' }">
            <a :href="href" @click="navigate"
              ><i class="menu-livicon" data-icon="desktop"></i
              ><span class="menu-title" data-i18n="Dashboard"
                >Dashboard</span
              ></a
            >
          </li>
        </router-link>
        <router-link
          :to="{ name: 'dashboard_scanCheckIn' }"
          v-slot="{ href, navigate, isActive, isExactActive }"
          custom
        >
          <li :class="{ active: $route.name === 'dashboard_scanCheckIn' }">
            <a :href="href" @click="navigate"
              ><i class="menu-livicon" data-icon="desktop"></i
              ><span class="menu-title" data-i18n="Dashboard"
                >Scan Barcode Check In </span
              ></a
            >
          </li>
        </router-link>
        <!-- <router-link
          :to="{ name: 'dashboard_scanKonsumsi' }"
          v-slot="{ href, navigate, isActive, isExactActive }"
          custom
        >
          <li :class="{ active: $route.name === 'dashboard_scanKonsumsi' }">
            <a :href="href" @click="navigate"
              ><i class="menu-livicon" data-icon="desktop"></i
              ><span class="menu-title" data-i18n="Dashboard"
                >Scan Barcode Day 2</span
              ></a
            >
          </li>
        </router-link> -->
        <!-- <router-link
          :to="{ name: 'dashboard_scanPhoto' }"
          v-slot="{ href, navigate, isActive, isExactActive }"
          custom
        >
          <li :class="{ active: $route.name === 'dashboard_scanPhoto' }">
            <a :href="href" @click="navigate"
              ><i class="menu-livicon" data-icon="desktop"></i
              ><span class="menu-title" data-i18n="Dashboard"
                >Scan Barcode Day 3</span
              ></a
            >
          </li>
        </router-link> -->
        

        <!--<li class=" nav-item has-sub"><a href="#"><i class="menu-livicon" data-icon="desktop"></i><span class="menu-title" data-i18n="Dashboard">Dashboard</span><span class="badge badge-light-danger badge-pill badge-round float-right mr-2">2</span></a>
                    <ul class="menu-content">
                        <router-link :to="{name:'menu2'}" v-slot="{ href, route, navigate, isActive, isExactActive }" custom>
                            <li :class="[isActive && 'active', isExactActive && 'active']" >
                                <a :href="href" @click="navigate">
                                <i class="bx bx-right-arrow-alt"></i><span class="menu-item" data-i18n="Analytics">menu2</span>
                                </a>
                            </li>
                        </router-link>
                        <li><a href="dashboard-analytics.html"><i class="bx bx-right-arrow-alt"></i><span class="menu-item" data-i18n="Analytics">Analytics</span></a>
                        </li>
                    </ul>
                </li>-->
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      logo_scr: "/images/logo.png",
      isLogin: this.$store.state.isLogin,
    };
  },
  watch: {
    "$store.state.isLogin": function () {
      this.isLogin = this.$store.state.isLogin;
    },
  },
};
</script>