/*

Style : Green Theme CSS
Version : 1.0
Author  : Surjith S M
URI   : http://themeforest.net/user/surjithctly

Copyright © All rights Reserved
Surjith S M / @surjithctly

*/


/* 
   COLOR PALLETTES : GREEN
   ------------------------------------------------
  
   Green 1        : #4eae49; ganti ke 15367e 00BDD4
   Dark Grey      : #3b3b3b;
   Medium Grey    : #5c5c5c;
   Light Grey     : #818181;
   Lightest Grey  : #C2C2C2;
   White          : #ffffff;

   
   */


/* ================================================
   THEME SPECIFIC STYLES : VISUAL STYLES ONLY
   ================================================ */


/*White bg*/

body,
.pace .pace-progress {
    background: #FFF;
}


/*Grey*/

body,
.timeline-content h2 {
    color: #5c5c5c;
}

.nav-pills>li>a {
    color: #C2C2C2;
}

.form-control:focus {
    border-color: #C2C2C2;
}

.navbar-default .navbar-nav>li>a {
    color: #818181;
}

.slick-prev:before,
.slick-next:before {
    color: #C2C2C2;
}


/* green
 * ----- */

::-moz-selection {
    background: #00BDD4;
    color: #FFF;
}

::selection {
    background: #00BDD4;
    color: #FFF;
}

.sub-header-page {
    color: #FFF;
}

.panel-transparent {
    background: none;
}

.panel-transparent .panel-heading {
    background: rgba(122, 130, 136, 0.2) !important;
}

.panel-transparent .panel-body {
    background: rgba(46, 51, 56, 0.2) !important;
}

@media (max-width: 575px) {
    .container2 {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
        width: 90vw;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        text-align: center;
        align-items: center;
        /* margin-top:5%; */

    }

    .bg-image{
        background: url(/images/bg_mobile.png) no-repeat;
        background-size: 100% 100%;
        padding-bottom: 25em;
        min-height:calc(1.5 * 100vw);
        /* width: 100%; */

    }

    .barcode {
        top: 34.7%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }

    .gambar_barcode {
        width: 30vw;
        height: auto;
    }

    .gambar_card {
        position: relative;
        width: 90vw;
        height: calc(1.5 * 90vw);
        border-radius: 10px;
        background-repeat: no-repeat;

    }

    .card {
        border-radius: 10px;
        text-align: center;
        padding: 1%;
        height: auto;
        width: auto;
    }

    .table_isi {
        top: calc(0.795 * 100vw);    
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 59%;
        font-size: 55%;
    }
    .font_sizeundian{
        font-size:200%;
    }
    .gambar_undian{
        width: calc(200%/25);
    }
    
    .custom_tulisan{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;

    }
    .body-bg-img {
        background: url(/images/bg_mobile.png) no-repeat;
        background-size: cover;
    }

    .margin-phone {
        margin-left: -3em !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .container2 {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
        width: 90vw;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        text-align: center;
        align-items: center;
        /* margin-top:5%; */

    }

    .bg-image{
        background: url(/images/bg_mobile.png) no-repeat;
        background-size: 100% 100%;
        padding-bottom: 25em;
        min-height:calc(1.5 * 100vw);
        /* width: 100%; */

    }

    .barcode {
        top: 36.7%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }

    .gambar_barcode {
        width: 30vw;
        height: auto;
    }

    .gambar_card {
        position: relative;
        width: 90vw;
        height: calc(1.5 * 90vw);
        border-radius: 10px;
        background-repeat: no-repeat;

    }

    .card {
        border-radius: 10px;
        text-align: center;
        padding: 1%;
        height: auto;
        width: auto;
    }

    .table_isi {
        top: calc(0.795 * 100vw); 
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 59%;
        font-size: 100%;
    }
    .font_sizeundian{
        font-size:250%;
    }
    .gambar_undian{
        width: calc(250%/25);
        padding-bottom: 1%;
    }
    
    .custom_tulisan{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;

    }
    .body-bg-img {
        background: url(/images/bg_mobile.png) no-repeat;
        background-size: cover;
    }

    .margin-phone {
        margin-left: -3em !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container2 {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
        width: 90vw;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        text-align: center;
        align-items: center;
        /* margin-top:5%; */

    }

    .bg-image{
        background: url(/images/bg_mobile.png) no-repeat;
        background-size: cover;
        padding-bottom: 25em;
        min-height:calc(1.5 * 100vw);
        /* width: 100%; */

    }

    .barcode {
        top: 36.7%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }

    .gambar_barcode {
        width: 30vw;
        height: auto;
    }

    .gambar_card {
        position: relative;
        width: 90vw;
        height: calc(1.5 * 90vw);
        border-radius: 10px;
        background-repeat: no-repeat;

    }

    .card {
        border-radius: 10px;
        text-align: center;
        padding: 1%;
        height: auto;
        width: auto;
    }

    .table_isi {
        top: calc(0.795 * 100vw); 
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 59%;
        font-size: 100%;
    }
    .font_sizeundian{
        font-size:250%;
    }
    .gambar_undian{
        width: calc(250%/25);
        padding-bottom: 1%;
    }
    
    .custom_tulisan{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;

    }

    .body-bg-img {
        background: url(/images/bg_mobile.png) no-repeat;
        background-size: cover;
    }
}

.rounded-round {
    border-radius: 100px !important;
}

.border-primary {
    border-color: #00BDD4 !important;
}

.btn-outline-primary {
    color: #00BDD4;
    background-color: transparent;
    background-image: none;
    border-color: #00BDD4;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #00BDD4;
    border-color: #00BDD4;
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: #00BDD4;
    background-color: transparent;
}

.btn-outline-primary:not([disabled]):not(.disabled):active,
.btn-outline-primary:not([disabled]):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #00BDD4;
    border-color: #00BDD4;
}


/* LAPTOP */


/* For 1024 Resolution */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .bg-image {
        background-size: 100% 100%;
        background: url(/images/backgroup_non_mobiles.png) no-repeat;
        background-size: cover;
        padding-bottom: 25em;
        min-height: calc(0.6 * 100vw);
    }
    .barcode {
        top: 33.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }

    .gambar_barcode {
        width: 10vw;
        height: auto;
    }

    .gambar_card {
        position: relative;
        width: 30vw;
        height: calc(1.5 * 30vw);
        border-radius: 10px;
        background-repeat: no-repeat;

    }

    .card {
        border-radius: 10px;
        text-align: center;
        padding: 1%;
        height: auto;
        width: auto;
    }

    .table_isi {
        top: calc(0.265* 100vw);
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 60%;
        font-size: 40%;
    }
    .font_sizeundian{
        font-size:200%;
    }
    .gambar_undian{
        width: calc(250%/25);
        padding-bottom: 1%;
    }

    .container2 {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
        width: 30vw;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        text-align: center;
        align-items: center;
        /* margin-top:5%; */

    }

    .custom_tulisan{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;

    }


    .body-bg-img {
        background: url(/images/backgroup_non_mobile.png) no-repeat;
        background-size: cover;
    }
}

@media only screen and (min-width: 1030px) and (max-width: 1366px) {
    .bg-image {
        background-size: 100% 100%;
        background: url(/images/backgroup_non_mobiles.png) no-repeat;
        background-size: cover;
        padding-bottom: 25em;
        min-height: calc(0.6 * 100vw);
    }
    .barcode {
        top: 34.8%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }

    .gambar_barcode {
        width: 10vw;
        height: auto;
    }

    .gambar_card {
        position: relative;
        width: 30vw;
        height: calc(1.5 * 30vw);
        border-radius: 10px;
        background-repeat: no-repeat;

    }

    .card {
        border-radius: 10px;
        text-align: center;
        padding: 1%;
        height: auto;
        width: auto;
    }

    .table_isi {
        top: calc(0.265 * 100vw); 
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 59%;
        font-size: 55%;
    }
    .font_sizeundian{
        font-size:250%;
    }
    .gambar_undian{
        width: calc(250%/25);
        padding-bottom: 5%;
    }

    .container2 {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
        width: 30vw;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        text-align: center;
        align-items: center;
        /* margin-top:5%; */

    }

    .custom_tulisan{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;

    }
    .body-bg-img {
        background: url(/images/backgroup_non_mobile.png) no-repeat;
        background-size: cover;
    }
}

@media only screen and (min-width: 1370px) {
    .bg-image {
        background-size: 100% 100%;
        background: url(/images/backgroup_non_mobiles.png) no-repeat;
        background-size: cover;
        padding-bottom: 25em;
        min-height: calc(0.6 * 100vw);
    }
    .barcode {
        top: 35.7%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }

    .gambar_barcode {
        width: 10vw;
        height: auto;
    }

    .gambar_card {
        position: relative;
        width: 30vw;
        height: calc(1.5 * 30vw);
        border-radius: 10px;
        background-repeat: no-repeat;

    }

    .card {
        border-radius: 10px;
        text-align: center;
        padding: 1%;
        height: auto;
        width: auto;
    }

    .table_isi {
        top: 54%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 59%;
        height: 10%;
        font-size: 60%;
    }
    .font_sizeundian{
        font-size:250%;
    }
    .gambar_undian{
        width: calc(250%/25);
        padding-bottom: 1%;
    }

    .container2 {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
        width: 30vw;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        text-align: center;
        align-items: center;
        /* margin-top:5%; */

    }

    .custom_tulisan{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;

    }
    .body-bg-img {
        background: url(/images/backgroup_non_mobile.png) no-repeat;
        background-size: cover;
    }
}


/*color*/

a,
a:hover,
a:focus,
.speaker-info p,
.highlighted-plan .price,
.highlighted-plan .plan-name {
    color: #00BDD4;
}

.benefit-item .benefit-icon i {
    color: #00BDD4;
}


/*background*/

.timeline::before {
    background: #00BDD4;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #FFF;
    background-color: #00BDD4;
}


/*border*/

.timeline-bullet,
.highlighted-plan {
    border-color: #00BDD4;
}


/*background color*/

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background-color: #00BDD4;
}


/* 
  BUTTONS
  ------- */

.btn-default {
    color: #00BDD4;
    border-color: #FFF;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
    background-color: transparent;
    border-color: #FFF;
    color: #FFF;
}

.btn-primary {
    background-color: #5c5c5c;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    background-color: #3b3b3b;
}

.btn-success {
    background-color: #00BDD4;
    border-color: #00BDD4;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active {
    background-color: #FFF;
    border-color: #00BDD4;
    color: #00BDD4;
}

.btn-outline {
    color: #8C8C8C;
    border-color: #CACACA;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    background-color: transparent;
    border-color: #818181;
    color: #8C8C8C;
}