<template>
  <div id="DemoSlotMachine" @click.self="openResultHistory = false"
    style="background-image: url('/images/undian.jpg');background-repeat:no-repeat;background-size: cover;background-position: center;">
    <div :class="['resultHistory', { 'openResultHistory': openResultHistory }]">
      <div class="result" v-for="(result, index) in resultHistory" :key="index">{{ `Round${index + 1}: ${result}` }}</div>
    </div>
    <!--  -->
    <h1 style="position: absolute; top:10%" id="prize" @click="changePrize()"></h1>

    <!-- <div class="form-check form-check-inline" style="position: fixed; top: 95%; left: 91%;">
      <input class="form-check-input" type="radio" name="duration" id="inlineRadio1" value="7" checked>
      <label class="form-check-label" for="inlineRadio1"></label>
    </div>
    <div class="form-check form-check-inline" style="position: fixed; top: 95%; left: 93%;">
      <input class="form-check-input" type="radio" name="duration" id="inlineRadio2" value="12">
      <label class="form-check-label" for="inlineRadio2"></label>
    </div>
    <div class="form-check form-check-inline" style="position: fixed; top: 95%; left: 95%;">
      <input class="form-check-input" type="radio" name="duration" id="inlineRadio3" value="22">
      <label class="form-check-label" for="inlineRadio3"></label>
    </div> -->
    <input type="hidden" style="position: absolute; top: 95%; left: 1%; width: 8%;" name="" id="input_prize" value="TV"
      @keyup.enter="keyupPrize">
    <div class="container" style="margin-left: 21%;margin-top: -10%;">
      <img src="/images/panah_kanan.png" alt="" style="max-width: 150px; margin-right: 10%; margin-left: 6%;">
      <audio ref="drum">
        <source src="/sound/drum.mp3" type="audio/mpeg">
      </audio>
      <audio ref="ces">
        <source src="/sound/ces.mp3" type="audio/mpeg">
      </audio>
      <Gift ref="gifts" v-for="(config, index) in configs" @finished="isFinished" @nextnumb="funcNextNumb"
        :trigger="trigger" :config="config" :key="index">
      </Gift>
    </div>
    <!--  -->
    <div class="settings">
      <button class="btn" @click="turn" :disabled="disabled">
        Spin
      </button>
      <!-- <button
          class="btn"
          @click="openResultHistory = true">
          Result History
        </button>
        <input
          type="checkbox"
              class="displayType"
              @change="changeDisplayMode"
              :disabled="disabled"> -->
    </div>
    <!--  -->
  </div>
</template>

<script>
import Gift from './Gift.vue';
export default {
  name: 'DemoSlotMachine',
  components: {
    Gift
  },
  data() {
    return {
      run3D: true,
      trigger: null,
      disabled: false,
      prize: 'TV',
      randomNumber: '',
      configs: [ // Slot Image
        {
          run3D: true,
          rotateY: -25,
          duration: 0,
          rollback: 0.1,
          fontSize: 100,
          height: 120,
          width: 170,
          gifts: Array.from(new Array(10), (val, index) => { return { type: 'image', name: index, path: '/images/gambar/' + index + '.png' } })
        },
        {
          run3D: true,
          rotateY: -25,
          duration: 0,
          rollback: 0.1,
          fontSize: 100,
          height: 120,
          width: 170,
          gifts: Array.from(new Array(10), (val, index) => { return { type: 'image', name: index, path: '/images/gambar/' + index + '.png' } })
        },
        {
          run3D: true,
          rotateY: -25,
          duration: 0,
          rollback: 0.1,
          fontSize: 100,
          height: 120,
          width: 170,
          gifts: Array.from(new Array(10), (val, index) => { return { type: 'image', name: index, path: '/images/gambar/' + index + '.png' } })
        },
        {
          run3D: true,
          rotateY: -25,
          duration: 0,
          rollback: 0.1,
          fontSize: 100,
          height: 120,
          width: 170,
          gifts: Array.from(new Array(10), (val, index) => { return { type: 'image', name: index, path: '/images/gambar/icon/' + index + '.png' } })
        }
      ],
      openResultHistory: false,
      result: [],
      resultHistory: [],
      nextNumber: [],

    }
  },
  methods: {
    turn() {
      // console.log(this.configs.length)
      // let i = 0;
      var selectedValue = $('input[name="duration"]:checked').val();
      console.log(selectedValue);
      // return;

      for (let i = 0; i < this.configs.length; i++) {
        let animation_duration = 5000;
        this.configs[i].duration = animation_duration;
      }
      this.disabled = true
      // console.log();
      // this.randomNumber = this.requestNomor();
      let vm = this;
      let checkin = 1;
      // if (selectedValue == '12') {
      //   checkin = 0;
      // } 
      
      // if ($('#peserta').is(":checked")) {
      //   peserta = 1;
      // }
      $.ajax({
        url: "/api/dorpirze/number", // Ganti URL dengan URL API yang sesuai
        method: "GET", // Metode HTTP yang digunakan (GET, POST, PUT, DELETE, dll.)
        dataType: "json", // Tipe data yang diharapkan dari respons API (json, xml, text, dll.)
        data: {
          checkin: checkin
        },
        success: function (response) {
          // Callback yang dijalankan ketika permintaan berhasil
          // console.log(JSON.stringify(response)); // Lakukan sesuatu dengan data response
          console.log(response);
          if (response.success != true) {
            vm.disabled = false;
            Swal.fire('Ups!', 'Data Not Found', 'info');
            return;
          }
          vm.randomNumber = response.number;
          console.log(response.number)
          console.log(vm.randomNumber);
          vm.requestNomor();
        },
        error: function (xhr, status, error) {
          // Callback yang dijalankan ketika permintaan mengalami kesalahan
          console.log('Error:', error); // Tampilkan pesan kesalahan
        }
      });

    },
    requestNomor() {
      this.trigger = new Date()
    },
    funcNextNumb(val) {
      this.nextNumber.push(val);
      if (this.nextNumber.length == 4) {
        // let nomor = this.requestNomor();
        // console.log(this.randomNumber[0]);
        // return
        if (this.nextNumber[0] == this.randomNumber[0] && this.nextNumber[1] == this.randomNumber[1] && this.nextNumber[2] == this.randomNumber[2] && this.nextNumber[3] == this.randomNumber[3]) {
          this.$refs.drum.play();
          this.$refs.gifts.forEach((gift) => {
            gift.isRunning = true;
          });
          this.nextNumber = [];
        } else {
          this.nextNumber = [];
          this.requestNomor();
        }
      }
    },
    stopSound() {
      this.$refs.drum.pause();
      this.$refs.drum.currentTime = 0;
    },
    isFinished(val) {
      const autoTurnList = this.$el.querySelectorAll('.autoTurn')
      // this.$refs.ces.play();
      this.result.push(val)
      if (this.result.length == 4) {
        this.$refs.ces.play();
        this.stopSound();
        let new_arr = this.result.slice(0, this.result.length - 1);
        let last_arr = this.result[this.result.length - 1];
        console.log(this.result[this.result.length - 1]);
        let prize = $('#prize').text();
        let isi_swal = `
        <div class="swal-height" style="min-height: 500px;margin-top: 10%;">
          <h1 style="margin:0px; font-size:95px; color:black;">CONGRATULATION!!!</h1>
          <center>
          <h3 style="font-size:1500%;width:60%">`+ new_arr.join(' ') + ` <img src="/images/gambar/emoji/` + last_arr + `.png" style="max-width: 160px; padding-bottom:15px"></h3>
          </center>
        </div>
        `;
        $.ajax({
          url: "/api/dorpirze/gift", // Ganti URL dengan URL API yang sesuai
          method: "GET", // Metode HTTP yang digunakan (GET, POST, PUT, DELETE, dll.)
          dataType: "json", // Tipe data yang diharapkan dari respons API (json, xml, text, dll.)
          data: {
            'prize': prize,
            'number': this.result
          },
          success: function (response) {
            // Callback yang dijalankan ketika permintaan berhasil
            // console.log(JSON.stringify(response)); // Lakukan sesuatu dengan data response
            console.log(response);
            if (response.success != true) {
              vm.disabled = false;
              Swal.fire('Ups!', 'Data Not Found', 'info');
              return;
            }
            vm.randomNumber = response.number;
            console.log(vm.randomNumber);
            vm.requestNomor();
          },
          error: function (xhr, status, error) {
            // Callback yang dijalankan ketika permintaan mengalami kesalahan
            console.log('Error:', error); // Tampilkan pesan kesalahan
          }
        });
        setTimeout(() => {
          Swal({
            title: '',
            html: isi_swal,
            width: 1300,
            padding: '3em',
            color: '#716add',
            showConfirmButton: false,
            background: '#fff url(/images/Backdrop_utama.jpg) 100% top no-repeat ',
            
          })
         
        }, 500);

        this.result = [];
        this.disabled = false
      }
      // if (autoTurnList.length === 1) {

      //   this.resultHistory.push(this.result)
      //   this.result = []
      // }

    },
    changeDisplayMode(e) {
      this.configs.forEach(item => (item.run3D = e.target.checked))
    },
    changePrize() {
      let input_prize = $('#input_prize');
      console.log(input_prize.prop('type'))
      if (input_prize.prop('type') == 'text') {
        input_prize.attr('type', 'hidden');
      } else {
        input_prize.attr('type', 'text');
      }
      // input_prize.find('type').type = 'hidden';
      // console.log(input_prize.);
    },
    keyupPrize() {
      let prize_val = $('#input_prize').val();
      console.log(prize_val);
      $('#prize').text(prize_val);
    }
  }
}
</script>

<style lang="scss" scoped>
.size-background {
  background-size: cover;
}

.swal-height {
  min-height: 280px;
  margin-top: 10%;
}

#DemoSlotMachine {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .container {
    display: flex;
  }

  .settings {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 5vh;

    .btn {
      margin-right: 20px;
      padding: 15px 30px;
      outline: none;
      border: none;
      border-radius: 10px;
      background-color: #42b983;
      color: #ffffff;
      font-size: 16px;
      cursor: pointer;
      transition: 0.15s;
      user-select: none;

      &:disabled {
        background-color: #ddd;
        cursor: not-allowed;
      }
    }

    .displayType {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      &::after {
        position: absolute;
        display: block;
        left: 100%;
        margin-left: 10px;
        font-size: 16px;
        content: '3D模式';
        white-space: nowrap;
      }

      &:disabled {
        background-color: #ddd;
        cursor: not-allowed;
      }
    }
  }

  .resultHistory {
    position: absolute;
    transform: translateZ(99999px);
    z-index: 999;
    min-width: 300px;
    height: 400px;
    padding: 20px;
    border: solid 5px #333;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: 0.5s;
    overflow-y: auto;
    visibility: hidden;

    .result {
      padding: 15px;
      list-style: none;
      font-size: 30px;
    }

    &.openResultHistory {
      opacity: 1;
      visibility: visible;
    }
  }
}
</style>
<style lang="scss" scoped>
.switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0297dc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #0297dc;
}

input:focus+.slider {
  box-shadow: 0 0 1px #0297dc;
}

input:checked+.slider:before {
  -webkit-transform: translateX(92px);
  -ms-transform: translateX(92px);
  transform: translateX(92px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>
