<template>
  <section id="dashboard-input">
    <div class="row">
      <div class="col-xl-6 col-md-6 col-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Votes</h5>

            <div class="heading-elements">
              <div class="dropdown my-auto">
                <i
                  class="
                    bx bx-dots-vertical-rounded
                    font-medium-3
                    cursor-pointer
                    dropdown-toggle
                    nav-hide-arrow
                    cursor-pointer
                  "
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  role="menu"
                >
                </i>
                <span
                  class="dropdown-menu dropdown-menu-right"
                  aria-labelledby="dropdownMenuButton"
                  style=""
                >
                  <a
                    class="dropdown-item"
                    href="JavaScript:void(0);"
                    @click="showVoterModal"
                    ><i class="bx bx-plus mr-75"></i>Create New</a
                  >
                </span>
              </div>
            </div>
          </div>
          <div class="card-content">
            <div class="card-body">
              <tableVoter></tableVoter>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-md-6 col-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Rundown Events</h5>

            <div class="heading-elements">
              <div class="dropdown my-auto">
                <i
                  class="
                    bx bx-dots-vertical-rounded
                    font-medium-3
                    cursor-pointer
                    dropdown-toggle
                    nav-hide-arrow
                    cursor-pointer
                  "
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  role="menu"
                >
                </i>
                <span
                  class="dropdown-menu dropdown-menu-right"
                  aria-labelledby="dropdownMenuButton"
                  style=""
                >
                  <a
                    class="dropdown-item"
                    href="JavaScript:void(0);"
                    @click="showRundownEventModal"
                    ><i class="bx bx-plus mr-75"></i>Create New</a
                  >
                </span>
              </div>
            </div>
          </div>
          <div class="card-content">
            <div class="card-body">
              <tableRundownEvent></tableRundownEvent>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Participants</h5>

            <div class="heading-elements">
              <div class="dropdown my-auto">
                <i
                  class="
                    bx bx-dots-vertical-rounded
                    font-medium-3
                    cursor-pointer
                    dropdown-toggle
                    nav-hide-arrow
                    cursor-pointer
                  "
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  role="menu"
                >
                </i>
                <span
                  class="dropdown-menu dropdown-menu-right"
                  aria-labelledby="dropdownMenuButton"
                  style=""
                >
                  <a
                    class="dropdown-item"
                    href="JavaScript:void(0);"
                    @click="showParticipantModal"
                    ><i class="bx bx-plus mr-75"></i>Create New</a
                  >
                </span>
              </div>
            </div>
          </div>

          <div class="card-content">
            <div class="card-body">
              <tableParticipant></tableParticipant>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import tableParticipant from "./tables/TableParticipant";
import tableVoter from "./tables/TableVoter";
import tableRundownEvent from "./tables/TableRundownEvent";

export default {
  components: {
    tableParticipant,
    tableVoter,
    tableRundownEvent,
  },
  mounted() {
    document.body.classList.add("2-columns", "menu-collapsed");
    this.$store.commit("crumb", {
      selectedCrumb: "Dashboard",
      crumbs: [],
    });
  },
  methods: {
    showParticipantModal() {
      this.$root.$refs.tableParticipant.showModal();
    },
    showVoterModal() {
      this.$root.$refs.tableVoter.showModal();
    },
    showRundownEventModal() {
      this.$root.$refs.tableRundownEvent.showModal();
    },
  },
};
</script>