<template>
    <section id="dashboard-input">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="col-12">
                            <button id="buttonScanCheckIn" class="btn btn-outline-dark mr-2 active" @click="changeScan('ScanCheckIn')"><span class="fa fa-user"></span>&nbsp;&nbsp;Checkin</button>
                            <!-- <button id="buttonScanFood" class="btn btn-outline-dark mr-2" @click="changeScan('ScanFood')"><span class="fa fa-utensils"></span>&nbsp;&nbsp;Konsumsi</button>
                            <button id="buttonScanPhoto" class="btn btn-outline-dark mr-2" @click="changeScan('ScanPhoto')"><span class="fa fa-images"></span>&nbsp;&nbsp;PhotoBox</button> -->
                        </div>
                        

                        <!-- <div class="heading-elements">
              <div class="dropdown my-auto">
                <i
                  class="
                    bx bx-dots-vertical-rounded
                    font-medium-3
                    cursor-pointer
                    dropdown-toggle
                    nav-hide-arrow
                    cursor-pointer
                  "
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  role="menu"
                >
                </i>
                <span
                  class="dropdown-menu dropdown-menu-right"
                  aria-labelledby="dropdownMenuButton"
                  style=""
                >
                  <a
                    class="dropdown-item"
                    href="JavaScript:void(0);"
                    @click="showParticipantModal"
                    ><i class="bx bx-plus mr-75"></i>Create New</a
                  >
                </span>
              </div>
            </div> -->
                    </div>

                    <div class="card-content">
                        <div class="card-body">
                            <div id="tableScanCheckIn" class="">
                                <h5 class="card-title text-center">SCAN BARCODE CHECK IN</h5>
                                <tableScanCheckIn></tableScanCheckIn>
                            </div>
                            <!-- <div id="tableScanFood" class="hidden">
                                <h5 class="card-title text-center">SCAN BARCODE FOOD</h5>
                                <tableScanFood></tableScanFood>
                            </div>
                            <div id="tableScanPhoto" class="hidden">
                                <h5 class="card-title text-center">SCAN BARCODE PHOTO</h5>
                                <tableScanPhoto></tableScanPhoto>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import tableParticipant from "./tables/TableParticipant";
import tableVoter from "./tables/TableVoter";
import tableRundownEvent from "./tables/TableRundownEvent";
import tableScanCheckIn from "./tables/TableScanCheckIn.vue";
import tableScanFood from "./tables/TableScanFood.vue";
import tableScanPhoto from "./tables/TableScanPhoto.vue";

export default {
    components: {
        tableParticipant,
        tableVoter,
        tableRundownEvent,
        tableScanCheckIn,
        tableScanFood,
        tableScanPhoto,
    },
    mounted() {
        document.body.classList.add("2-columns", "menu-collapsed");
        this.$store.commit("crumb", {
            selectedCrumb: "Scan Barcode",
            crumbs: [],
        });
    },
    methods: {
        showParticipantModal() {
            this.$root.$refs.tableParticipant.showModal();
        },
        showVoterModal() {
            this.$root.$refs.tableVoter.showModal();
        },
        showRundownEventModal() {
            this.$root.$refs.tableRundownEvent.showModal();
        },
        changeScan(event){
            $('#buttonScanCheckIn').removeClass('active');
            $('#buttonScanFood').removeClass('active');
            $('#buttonScanPhoto').removeClass('active');
            $('#button'+event).addClass('active');
            
            $('#tableScanCheckIn').addClass('hidden');
            $('#tableScanFood').addClass('hidden');
            $('#tableScanPhoto').addClass('hidden');
            $('#table'+event).removeClass('hidden');

            $('#barcode'+event).focus();


        }
    },
};
</script>
