<template>
    <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-qrcode"></i></span>
              <input type="text" class="form-control"  v-model="scanBarcode" autocomplete="off" @keyup="handleKeyup" autofocus placeholder="SCAN BARCODE HERE" id="barcodeScan" aria-label="Username" aria-describedby="basic-addon1">
            </div>
          </div>
          <h5 class="m-auto">LAST SCAN </h5>
          <div class="col-12 table-responsive">
            <table class="table table-bordered mt-3 w-100">
              <thead class="text-center">
                <tr>
                  <th>Name</th>
                  <th>No Hp</th>
                  <th>Circle</th>
                  <th>Email</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr id="no_data" class="">
                  <td colspan="5" class="text-center"> NO DATA</td>
                </tr>
                <tr id="data" class="hidden">
                  <td id="name"></td>
                  <td id="nik"></td>
                  <td id="circle"></td>
                  <td id="no_wa"></td>
                  <td id="status" class="text-center"></td>
                  <!-- <td class="text-center"><i class="fa fa-exclamation-triangle fa-lg text-warning"></i><i class="fa fa-check-circle fa-lg text-success"></i> <i class="fa fa-times-circle fa-lg text-danger"></i></td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
</template>
<script>
import debounce from 'lodash.debounce';
import {myalert, scanBarcode} from '../myUtility.js';
export default {
  data() {
    return {
      message: "",
      scanBarcode: "",
    };
  },
  methods: {
    handleKeyup: debounce(function() {
      if(this.scanBarcode.trim().length > 0){
        return scanBarcode(this.scanBarcode, 'food');
      }
    }, 500)
  },
  mounted() {
    $('#barcodeScan').focus();
  }
};
$(document).ready(function(){
  $('#barcodeScan').focus();
});
</script>