<style>
#fade-wrapper {
    display: none;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999999999999999999;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:0 auto;
    text-align: center;
}
.gambar{
  max-width: 90vw;
  max-height: 95vh;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
#video{
  position: absolute;
  z-index: 99999999999999999999999999;
}
</style>
<template>
  <div class="table-responsive">
    <div id="fade-wrapper" @click="closeMe()">
      <video id="videoMe" class="gambar hidden" width="640" height="360" controls>
            <source src="" type="video/mp4">
      </video>
      <img src="" id="gambar" class="gambar hidden" alt="">
    </div>
    <vue-good-table
      mode="remote"
      :columns="columns"
      :rows="rows"
      :globalSearch="true"
      :sort-options="{
        enabled: false,
      }"
      :search-options="{
        enabled: true,
        trigger: 'enter',
        placeholder: 'Search this table',
        skipDiacritics: true,
      }"
      @on-search="onSearch"
      styleClass="table mb-0"
    >
      <template slot="table-row" slot-scope="props">
        <span v-if="props.column.field === 'S.No'">
          {{
            records.per_page * (records.current_page - 1) + (props.index + 1)
          }}
        </span>

        <span v-if="props.column.field === 'description'">
          {{ props.row.description }}
        </span>

        <span v-if="props.column.field === 'voter_image_url'">
          <div v-if="props.row.mime_content_type === 'image'">
            <a @click="ShowMe(props.row.voter_image_url, 'image')">
              <img
              class="rounded-circle mr-1"
              :src="props.row.voter_image_url"
              alt="avatar"
              height="50"
              width="50"
          /></a>
          </div>
          <div v-else>
            <a @click="ShowMe(props.row.video_url, 'video')">
              <img
              class="rounded-circle mr-1"
              :src="props.row.voter_image_url"
              alt="avatar"
              height="50"
              width="50"
          /></a>
          </div>
            
        </span>
        <span v-if="props.column.field === 'mime_content_type'">
          {{ props.row.mime_content_type }}
        </span>
        <div class="dropdown" v-if="props.column.field === 'action'">
          <span
            class="
              bx bx-dots-vertical-rounded
              font-medium-3
              dropdown-toggle
              nav-hide-arrow
              cursor-pointer
            "
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            role="menu"
          ></span>
          <div class="dropdown-menu dropdown-menu-right">
            <a
              class="dropdown-item delete-participant"
              href="#"
              :data-id="props.row.id"
              @click="deleteParticipant(props.row.id)"
              ><i class="bx bx-trash mr-1"></i> Delete</a
            >
          </div>
        </div>
      </template>
    </vue-good-table>

    <vue-pagination
      :pagination="records"
      @paginate="getData()"
      :offset="4"
    ></vue-pagination>

    <modal id="createVoterModal" :modalTitle="modalTitle">
      <template v-slot:body>
        <form class="form form-vertical" id="formVoter">
          <div class="form-body">
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label>Description</label>
                  <div class="position-relative has-icon-left">
                    <textarea
                      class="form-control"
                      id="Description"
                      name="fname-icon"
                      rows="3"
                      :class="isDescError"
                      placeholder="Description"
                      v-model="form.description"
                    ></textarea>

                    <div class="form-control-position">
                      <i class="bx bx-paragraph"></i>
                    </div>
                    <div class="is-invalid-feedback" v-if="isDescEmpty">
                      <i class="bx bx-radio-circle"></i>
                      {{ errorDescMsg }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="checked_video" v-model="form.checked_video" value="" id="flexCheckDefault" @click="onClickCheckVideo()">
                  <label class="form-check-label" for="flexCheckDefault">
                    File Video?
                  </label>
                </div>
              </div>
              <div class="col-12 hidden" id="input_thumb">
                <div class="form-group">
                  <label>Upload Thumbnail</label>
                  <div class="custom-file">
                    <input
                      type="file"
                      class="custom-file-input"
                      id="customFile"
                      name="thumbFile"
                      accept="*"
                      @change.prevent="onFileChangeThumb"
                    />
                    <div class="is-invalid-feedback" v-if="isUploadFileEmpty_thumb">
                      <i class="bx bx-radio-circle"></i>
                      {{ errorUploadFileMsg_thumb }}
                    </div>
                    <label :class="isUploadFileError_thumb" id="file_name_thumb">{{ file_name_thumb }}</label>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label>Upload File</label>
                  <div class="custom-file">
                    <input
                      type="file"
                      class="custom-file-input"
                      id="customFile"
                      name="customFile"
                      accept="*"
                      @change.prevent="onFileChange"
                    />
                    <div class="is-invalid-feedback" v-if="isUploadFileEmpty">
                      <i class="bx bx-radio-circle"></i>
                      {{ errorUploadFileMsg }}
                    </div>
                    <label :class="isUploadFileError" id="file_name">{{ file_name }}</label>
                  </div>
                </div>
              </div>

              <div class="col-12 d-flex justify-content-end">
                <button
                  type="submit"
                  class="btn btn-primary mr-1 mb-1"
                  @click.prevent="doStore"
                >
                  Submit
                </button>
                <button
                  type="reset"
                  class="btn btn-light-secondary mr-1 mb-1"
                  @click.prevent="closeModal"
                >
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </form>
      </template>
    </modal>

    <BlockUI v-show="isLoading"><img src="/images/loading.gif" /></BlockUI>
  </div>
</template>

<script>
import modal from "../Modal";
import VuePagination from "../Paginator";
import _ from "lodash";

export default {
  components: {
    modal,
    VuePagination,
  },
  data() {
    return {
      records: {
        searchTerm: "",
        total: 0,
        per_page: 5,
        from: 1,
        to: 0,
        current_page: 1,
      },
      offset: 4,
      columns: [
        {
          label: "No",
          field: "S.No",
        },
        {
          label: "Description",
          field: "description",
          filterable: true,
        },
        {
          label: "File Name",
          field: "voter_image_url",
        },
        {
          label: "Content Type",
          field: "mime_content_type",
        },
        {
          label: "Action",
          field: "action",
        },
        //
      ],
      rows: [],
      form: {
        description: "",
        upload_file: "",
        checked_video: false,
        upload_file_thumb: "",
      },
      isLoading: false,
      isDescEmpty: false,
      isUploadFileEmpty: false,
      isUploadFileEmpty_thumb: false,
      modalTitle: "",
      file_name: "Choose file",
      file_name_thumb: "Choose file",
    };
  },
  computed: {
    isDescError: function () {
      return this.isDescEmpty
        ? "form-control is-error-validated"
        : "form-control";
    },
    isUploadFileError: function () {
      return this.isUploadFileEmpty
        ? "custom-file-label is-error-validated"
        : "custom-file-label";
    },
    isUploadFileError_thumb: function () {
      return this.isUploadFileEmpty_thumb
        ? "custom-file-label is-error-validated"
        : "custom-file-label";
    },
  },
  methods: {
    getData() {
      return axios
        .get("/api/data-voters", {
          headers: {
            Authorization: "Bearer " + this.$store.state.token,
          },
          params: {
            searchTerm: this.records.searchTerm,
            page: this.records.current_page,
            per_page: this.records.per_page,
          },
        })
        .then((response) => {
          this.rows = response.data.data.records.data;
          this.records = response.data.data.records;
        });
    },
    updateParams(newProps) {
      this.records = Object.assign({}, this.records, newProps);
    },
    deleteParticipant(id) {
      Swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes",
        confirmButtonClass: "btn btn-warning",
        cancelButtonClass: "btn btn-default ml-1",
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          axios
            .delete("/api/delete-voters", {
              headers: {
                Authorization: "Bearer " + this.$store.state.token,
              },
              data: {
                id: id,
              },
            })
            .then((response) => {
              if (response.status == "200") {
                Swal({
                  toast: true,
                  position: "top-end",
                  type: "success",
                  title: "Data has been deleted",
                  showConfirmButton: false,
                  timer: 3000,
                  timerProgressBar: true,
                  didOpen: (toast) => {
                    toast.addEventListener("mouseenter", Swal.stopTimer);
                    toast.addEventListener("mouseleave", Swal.resumeTimer);
                  },
                });

                this.getData();
              }
            })
            .catch((error) => {
              if (error.response) {
                if (error.response.status == "500") {
                  Swal({
                    toast: true,
                    position: "top-end",
                    type: "error",
                    title: "Oops..",
                    text: "Something went wrong, please contact ICT",
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                      toast.addEventListener("mouseenter", Swal.stopTimer);
                      toast.addEventListener("mouseleave", Swal.resumeTimer);
                    },
                  });
                }
              }
            });
        }
      });
    },
    showModal() {
      this.form = {
        description: "",
        upload_file: "",
        checkedVideo: "",
        upload_file_thumb: "",
      };
      this.file_name = "Choose file";
      $('#file_name').text('Choose file');
      $('#file_name_thumb').text('Choose file');
      $('#input_thumb').addClass('hidden');
      this.file_name_thumb = "Choose file";
      this.modalTitle = "Create Voter";
      this.resetField();
      $("#createVoterModal").modal("show");
    },
    ShowMe(url,type){
      let video = $('#videoMe')[0];

      if(type === 'image'){
        $('#gambar').attr('src', url);
        $('#videoMe').addClass('hidden');
        $('#gambar').removeClass('hidden');
        if(!video.paused){
          video.pause();
          video.currentTime = 0;
        }
      }else{
        $('#videoMe').removeClass('hidden');
        $('#gambar').addClass('hidden');
        $(video).find("source").attr("src", url);
        video.load();
        
        video.play();
      }
      $('#fade-wrapper').fadeIn();
    },
    closeMe(){
      // console.log('ini di klik');
      $('#fade-wrapper').fadeOut();
    },  
    closeModal() {
      this.resetField();
      this.file_name = "Choose file";
      this.file_name_thumb = "Choose file";
      $("#createVoterModal").modal("hide");
    },
    onFileChange(e) {
      this.form.upload_file = e.target.files[0];
      this.file_name = e.target.files[0].name;
    },
    onFileChangeThumb(e) {
      this.form.checked_video = true;
      this.form.upload_file_thumb = e.target.files[0];
      this.file_name_thumb = e.target.files[0].name;
    },
    onClickCheckVideo(){
      if(this.form.checked_video == false || this.form.checked_video == '' || typeof this.form.checked_video == 'undefined'){
        console.log('tampil');
        this.form.checked_video = true;
        $('#input_thumb').removeClass('hidden');
      }else{
        console.log('tidak tampil');
        this.form.checked_video = false;
        $('#input_thumb').addClass('hidden');
      }
    },
    doStore() {
      console.log(this.form);
      let formData = new FormData();
      if(this.form.checked_video == '' || typeof this.form.checked_video == 'undefined'){
        this.form.checked_video = false;
      }
      formData.append("upload_file", this.form.upload_file);
      formData.append("checked_video", this.form.checked_video);
      formData.append("upload_file_thumb", this.form.upload_file_thumb);
      formData.append("description", this.form.description);

      const headers = {
        "Content-Type": "multipart/form-data",
        Authorization: "Bearer " + this.$store.state.token,
      };

      this.isLoading = true;
      axios
        .post("/api/store-voters", formData, {
          headers,
        })
        .then((response) => {
          if (response.status === 200) {
            this.form = {
              description: "",
              upload_file: "",
              upload_file_thumb : "",
            };
            this.isLoading = false;

            Swal({
              toast: true,
              position: "top-end",
              type: "success",
              title: "Data has been saved",
              showConfirmButton: false,
              timer: 3000,
              timerProgressBar: true,
              didOpen: (toast) => {
                toast.addEventListener("mouseenter", Swal.stopTimer);
                toast.addEventListener("mouseleave", Swal.resumeTimer);
              },
            });

            $("#createVoterModal").modal("hide");
            this.getData();
          }
        })
        .catch((error) => {
          this.isLoading = false;
          if (error.response) {
            if (error.response.status == "500") {
              Swal({
                toast: true,
                position: "top-end",
                type: "error",
                title: "Oops..",
                text: "Something went wrong, please contact ICT",
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                  toast.addEventListener("mouseenter", Swal.stopTimer);
                  toast.addEventListener("mouseleave", Swal.resumeTimer);
                },
              });
            } else {
              if (error.response.data.errors) {
                if (error.response.data.errors.hasOwnProperty("description")) {
                  this.isDescEmpty = true;
                  this.errorDescMsg = error.response.data.errors.description[0];
                } else {
                  this.isDescEmpty = false;
                  this.errorDescMsg = "";
                }

                if (error.response.data.errors.hasOwnProperty("upload_file")) {
                  this.isUploadFileEmpty = true;
                  this.errorUploadFileMsg =
                    error.response.data.errors.upload_file[0];
                } else {
                  this.isUploadFileEmpty = false;
                  this.errorUploadFileMsg = "";
                }

                if (error.response.data.errors.hasOwnProperty("upload_file_thumb")) {
                  this.isUploadFileEmpty_thumb = true;
                  this.errorUploadFileMsg_thumb =
                    error.response.data.errors.upload_file_thumb[0];
                } else {
                  this.isUploadFileEmpty_thumb = false;
                  this.errorUploadFileMsg_thumb = "";
                }
              } else {
                this.isDescEmpty = false;
                this.errorDescMsg = "";
                this.isUploadFileEmpty = false;
                this.isUploadFileEmpty_thumb = false;
                this.errorUploadFileMsg = "";
                this.errorUploadFileMsg_thumb = "";
              }
            }
          }
        });
    },
    resetField() {
      this.errorDescMsg = "";
      this.errorUploadFileMsg = "";
      this.errorUploadFileMsg_thumb = "";

      this.isDescEmpty = false;
      this.isUploadFileEmpty = false;
      this.isUploadFileEmpty_thumb = false;
      this.file_name = "Choose file";
      this.file_name_thumb = "Choose file";
    },
    onSearch: _.debounce(function (params) {
      this.updateParams(params);
      this.getData();
      return false;
    }, 500),
  },
  created() {
    this.getData();
    this.$root.$refs.tableVoter = this;
  },
};
</script>