<template>
  <div>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar"
            aria-expanded="false"
            aria-controls="navbar"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"
            ><img :src="logo_scr" alt="Bif" width="30em" />
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <router-link :to="{ name: 'landing_page' }">Home</router-link>
            </li>
            <li class="dropdown active">
              <a
                href="#"
                class="dropdown-toggle"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >Pages <span class="caret"></span
              ></a>
              <ul class="dropdown-menu">
                <li>
                  <router-link :to="{ name: 'votes' }">Votes</router-link>
                </li>
                <li class="active">
                  <router-link :to="{ name: 'doorpize' }"
                    >Doorprize</router-link
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <article class="blog-content" style="margin-top: 0px">
            <p
              class="text-center"
              style="color: white; font-size: 5rem; font-weight: bold"
            >
              {{ doorprizeTitle }}
            </p>

            <div class="entry-content">
              <p
                class="text-center"
                style="background-color: #5c5c5c"
                v-for="index in parseInt(totalRow)"
                :key="index"
              >
                <span
                  :id="'lottery_number_' + index"
                  style="font-weight: bold; font-size: 3rem; color: white"
                >
                  --------
                </span>
                <span
                  style="font-weight: bold; font-size: 3rem; color: white"
                  :id="'name_' + index"
                >
                  --------</span
                >

                <input :id="'id_' + index" type="hidden" />
              </p>
            </div>
          </article>
        </div>
        <!--// col md 9-->

        <!--Blog Sidebar-->
        <div class="col-md-3">
          <div class="sidebar">
            <div class="sidebar-widget blog-search">
              <div
                class="input-group input-group-lg"
                style="margin-bottom: 0.5em"
              >
                <input
                  type="text"
                  class="form-control"
                  placeholder="Doorprize"
                  v-model="doorprizeTitle"
                />
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button">
                    <i class="glyphicon glyphicon-wrench glyphicon-lg"></i>
                  </button>
                </span>
              </div>
              <div
                class="input-group input-group-lg"
                style="margin-bottom: 0.5em"
              >
                <input
                  type="text"
                  class="form-control"
                  placeholder="Total Row"
                  v-model="totalRow"
                />
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button">
                    <i class="glyphicon glyphicon-wrench glyphicon-lg"></i>
                  </button>
                </span>
              </div>
              <button
                class="btn btn-info btn-lg btn-block"
                type="button"
                style="background-color: #66de93"
                @click="playRandom()"
                id="btn_play"
              >
                <i class="glyphicon glyphicon-play glyphicon-lg"></i>
              </button>
              <button
                class="btn btn-info hidden btn-lg btn-block"
                type="button"
                style="background-color: #d83a56"
                @click="stopRandom()"
                id="btn_stop"
              >
                <i class="glyphicon glyphicon-stop glyphicon-lg"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {},
  data() {
    return {
      doorprizeTitle: "-",
      totalRow: 2,
      population: [],
      res: [],
      logo_scr: "/images/logo.png",
    };
  },
  computed: {},
  mounted() {
    document.body.classList.add("body-bg-img");
  },
  destroyed() {
    document.body.classList.remove("body-bg-img");
  },
  methods: {
    playRandom() {
      if (this.doorprizeTitle == "-" || this.doorprizeTitle == "") {
        Swal({
          type: "info",
          title: "Please input doorprize first!",
          showConfirmButton: false,
          timer: 3000,
          timerProgressBar: true,
          didOpen: (toast) => {
            toast.addEventListener("mouseenter", Swal.stopTimer);
            toast.addEventListener("mouseleave", Swal.resumeTimer);
          },
        });
        return false;
      }

      if (this.totalRow == "" || this.totalRow == "0") {
        Swal({
          type: "info",
          title: "Please input total row first!",
          showConfirmButton: false,
          timer: 3000,
          timerProgressBar: true,
          didOpen: (toast) => {
            toast.addEventListener("mouseenter", Swal.stopTimer);
            toast.addEventListener("mouseleave", Swal.resumeTimer);
          },
        });
        return false;
      }

      $("#btn_play").addClass("hidden");
      $("#btn_stop").removeClass("hidden");

      axios
        .get("/api/registered-participant", {
          headers: {
            Authorization: "Bearer " + this.$store.state.tokenFront,
          },
        })
        .then((response) => {
          const total = response.data.data.participant.length;

          if (this.totalRow) {
            if (total == 0) {
              $("#btn_play").removeClass("hidden");
              $("#btn_stop").addClass("hidden");

              for (var i = 0; i < parseInt(this.totalRow); i++) {
                $("#lottery_number_" + i).text("-----------------");
                $("#factory" + i).text("--------");
                $("#name_" + i).text("--------");
                $("#id_" + i).val("");
              }

              Swal({
                type: "info",
                title: "All participant have been chosen!",
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                  toast.addEventListener("mouseenter", Swal.stopTimer);
                  toast.addEventListener("mouseleave", Swal.resumeTimer);
                },
              });
            } else {
              let dataParticipant = response.data.data.participant;
              this.population = this.chunkArray(
                dataParticipant,
                parseInt(this.totalRow)
              );

              for (let i = 0; i < parseInt(this.totalRow); i++) {
                this.res[i] = this.randomParticipant(i);
              }
            }
          }
        });
    },
    stopRandom() {
      $("#btn_play").removeClass("hidden");
      $("#btn_stop").addClass("hidden");

      let selectedParticipant = [];
      const self = this;
      for (var i = 0; i < parseInt(self.totalRow); i++) {
        clearInterval(self.res[i]);
        selectedParticipant.push($("#id_" + (parseInt(i) + 1)).val());
      }

      const headers = {
        "Content-Type": "application/json",
        Authorization: "Bearer " + this.$store.state.tokenFront,
      };

      const formData = {
        doorprizeTitle: self.doorprizeTitle,
        selectedParticipant: selectedParticipant,
      };

      axios.post("/api/doorprize", formData, {
        headers,
      });
    },
    getCol(matrix, col) {
      let row = [];
      for (let i = 0; i < matrix.length; i++) {
        row.push(matrix[i][col]);
      }

      return row;
    },
    chunkArray(myArray, chunk_size) {
      let index = 0;
      let arrayLength = myArray.length;
      let tempArray = [];
      let col = [];
      for (index = 0; index < arrayLength; index += chunk_size) {
        tempArray.push(myArray.slice(index, index + chunk_size));
      }

      for (let i = 0; i < chunk_size; i++) {
        col[i] = this.getCol(tempArray, i);
      }

      return col;
    },
    randomParticipant(index) {
      const self = this;
      return setInterval(function () {
        if (self.population[index].length > 0) {
          let id = Math.floor(Math.random() * self.population[index].length);
          let lottery_number =
            typeof self.population[index][id]["lottery_number"] !== "undefined"
              ? self.population[index][id]["lottery_number"]
              : "--------";
          let name =
            typeof self.population[index][id]["name"] !== "undefined"
              ? self.population[index][id]["name"]
              : "--------";
          let factory =
            typeof self.population[index][id]["name"] !== "undefined"
              ? self.population[index][id]["factory"]
              : "--------";

          $("#lottery_number_" + (parseInt(index) + 1)).text(lottery_number);

          $("#name_" + (parseInt(index) + 1)).text(name);
          $("#id_" + (parseInt(index) + 1)).val(
            self.population[index][id]["id"]
          );
        }
      }, 100);
    },
  },
};
</script>