<style>
.container3 {
  position: relative;
  width: 100%;
  height: 95px;
}

.image3 {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 95px;
  padding: 5px;

}

.container2 {
  position: relative;
  display: flex;
  justify-content: center;
  /* Mengatur konten menjadi rata tengah secara horizontal */
  align-items: center;
  /* Mengatur konten menjadi rata tengah secara vertikal */
  width: 100%;
  height: 95px;
}

.image2 {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 95px;
  padding: 5px;
  margin: auto;

}

.middle2 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container2:hover .image2 {
  opacity: 0.3;
}

.container2:hover .middle2 {
  opacity: 1;
}

.text2 {
  background-color: #337ab7;
  color: white;
  font-size: 10px;
  padding: 10px;
}

#fade-wrapper {
  display: none;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  
}

#gambar {
  max-width: 100vw;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;

}

.btn-default {
  border-color: black;
  background-color: black;
  color: white;
}

.btn-default:hover {
  border-color: black;
  /* background-color: black; */
  color: black;
}

@media (max-width: 520px) {
    .event_where {
      font-size: 22px;
        font-weight: bold;
        color: #FFF;
        padding-bottom: 100px;
    }
    .when_where {
      margin-top: -80px;
    }
}
</style>
<template>
  <div>
    <menu-frontend></menu-frontend>
    <!-- <header id="top" class="header bg-image" style="padding-bottom: 15em; color:black">
      <div class="container">
        <div class="logo" style="padding-top: 5em">
          <router-link :to="{ name: 'landing_page' }"><img :src="logo_blck" width="100em" alt="Bif" /></router-link>
        </div>

        <h3 class="headline-support wow fadeInDown">
          BINABUSANA IMPROVEMENT FORUM
        </h3>
        <h1 class="headline wow fadeInDown" data-wow-delay="0.1s">
          LET'S GET OUR <br />
          GROOVE ON!
        </h1>

        <div class="when_where wow fadeIn" data-wow-delay="0.4s">
          <p class="event_when" style="color: black;">July 13th 2024</p>
          <p class="event_where" style="color: black;">Semarang, Jawa Tengah</p>
        </div>

        <a class="btn btn-default btn-xl wow zoomIn" data-wow-delay="0.3s" href="#" data-toggle="modal"
          @click="showModal('registration')">CONFIRM MY SEAT</a>
      </div>
    </header> -->
    <header id="top" class="header bg-image" style="padding-bottom:25em">
      <div class="container custom_tulisan" style="">

        <h3 class="headline-support wow fadeInDown">
        </h3>
        <h1 class="headline wow fadeInDown" data-wow-delay="0.1s">

        </h1>

        <div class="when_where wow fadeIn" data-wow-delay="0.4s">
          <p class="event_when" style="color: black;font-size: 30px;">July 13th 2024</p>
          <p class="event_where" style="color: black;font-size: 20px;">Semarang, Jawa Tengah</p>
        </div>

        <a class="btn btn-default btn-xl wow zoomIn" data-wow-delay="0.3s" href="#" data-toggle="modal"
          @click="showModal('registration')">REGISTRATION</a>
      </div>
    </header>

    <section class="highlight">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-6 col-xs-12 col-sm-12">
            <p class="lead text-center">
              A New Dawn of Adaptation and Collaboration. <br /> 
              With BIF XIX, <br /> 
              We Embrace the Synergy of Innovation. <br />     
              BIF XIX: Together We Rise!                
              <!-- Pandemic is changed to endemic<br />
              BIF 19 comes with a new concept.<br />
              Let the Summer Sparkle - Join The Improvement Party!<br />
              TOGETHER WE RISE! -->
            </p>
          </div>
          <!-- <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <p class="lead text-center">
              Di tengah pandemi Covid-19<br />
              Kita lebih dari sekedar bertahan, Kita tidak hanya menyesuaikan<br />
              Kita akan melawan, Kemenangan ada di nadi kita<br />
              Kita akan berubah<br />
            </p>
          </div> -->
        </div>

        <div class="countdown_wrap">
          <h6 class="countdown_title text-center">EVENT WILL START IN</h6>

          <ul id="countdown" data-event-date="13 July 2024 10:30:00">
            <li class="wow zoomIn" data-wow-delay="0s">
              <span class="days">00</span>
              <p class="timeRefDays">days</p>
            </li>
            <li class="wow zoomIn" data-wow-delay="0.2s">
              <span class="hours">00</span>
              <p class="timeRefHours">hours</p>
            </li>
            <li class="wow zoomIn" data-wow-delay="0.4s">
              <span class="minutes">00</span>
              <p class="timeRefMinutes">minutes</p>
            </li>
            <li class="wow zoomIn" data-wow-delay="0.6s">
              <span class="seconds">00</span>
              <p class="timeRefSeconds">seconds</p>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <rundownEvent></rundownEvent>

    <div class="container" id="gallery">
      <div id="fade-wrapper" @click="closeMe()">
        <img src="" class="gambar hidden" id="gambar" alt="">
        <video id="videoMe" class="gambar hidden" width="640" height="360" controls>
          <source src="" type="video/mp4">
        </video>
      </div>

      <div class="row">
        <div class="section-title">
          <h4>GALLERY</h4>
        </div>

        <div class="nav-center bottom-space-lg">
          <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="active">
              <a href="#photo-gallery" aria-controls="photo-gallery" role="tab" data-toggle="tab">Photos</a>
            </li>
            <!-- <li role="presentation">
              <a href="#video-gallery" aria-controls="video-gallery" role="tab" data-toggle="tab">Videos</a>
            </li> -->
          </ul>
        </div>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="photo-gallery">
            <section class="timeline">
              <div class="timeline-block" v-for="item in gallery" :key="item.year">
                <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>

                <div class="timeline-content">
                  <p class="wow flipInX" data-wow-delay="0.3s"></p>
                  <div class="popup-gallery">
                    <div class="row">
                      <div class="col-md-6">
                        <a :href="item.images.image1" title=""><img :src="item.images.image1" alt="gallery image"
                            class="img-responsive wow fadeIn" /></a>
                      </div>

                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-sm-6">
                            <a :href="item.images.image2" title=""><img :src="item.images.image2" alt="gallery image"
                                class="img-responsive wow fadeIn" data-wow-delay="0.2s" /></a>
                          </div>

                          <div class="col-sm-6">
                            <a :href="item.images.image3" title=""><img :src="item.images.image3" alt="gallery image"
                                class="img-responsive wow fadeIn" data-wow-delay="0.2s" /></a>
                          </div>
                        </div>
                        <!-- end .row -->

                        <div class="row">
                          <div class="col-sm-6">
                            <a :href="item.images.image4" title=""><img :src="item.images.image4" alt="gallery image"
                                class="img-responsive wow fadeIn" data-wow-delay="0.4s" /></a>
                          </div>

                          <div class="col-sm-6">
                            <a :href="item.images.image5" title=""><img :src="item.images.image5" alt="gallery image"
                                class="img-responsive wow fadeIn" data-wow-delay="0.4s" /></a>
                          </div>
                        </div>
                        <!-- end .row -->
                      </div>
                    </div>
                  </div>
                  <span class="date wow flipInX" data-wow-delay="0.3s">
                    {{ item.year }}</span>
                </div>
              </div>
            </section>
          </div>

          <div role="tabpanel" class="tab-pane" id="video-gallery">
            <div class="row">
              <div class="
                                                                                                                col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2
                                                                                                                text-center
                                                                                                                media-video
                                                                                                              ">
                <div class="video-wrapper">
                  <iframe width="640" height="315" src="https://www.youtube.com/embed/7LlqeMboIeM" title="bif17"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="sponsors" id="sponsors">
      <div class="container">
        <div class="section-title wow fadeInUp">
          <h4>OUR HOLDING</h4>
        </div>

        <div class="wow bounceIn" style="padding-bottom: 3em">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
              <img :src="logo_triputra" class="img-responsive center-block" alt="sponsor" width="300em"
                style="padding-bottom: 0.5em" />
            </div>
           
          </div>
        
        </div>
      </div>
      <div class="container">
        <div class="section-title wow fadeInUp">
          <h4>OUR COMPANY</h4>
        </div>

        <div class="wow bounceIn" style="padding-bottom: 3em">
          <div class="row">
          
            <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12">
              <img :src="logo_bbi" class="img-responsive center-block" alt="sponsor" width="300em"
                style="padding-bottom: 0.5em" />
            </div>
            <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12">
              <img :src="logo_aoi" class="img-responsive center-block" alt="sponsor" width="300em"
                style="padding-bottom: 0.5em" />
            </div>
          </div>
        
        </div>
      </div>
      <div class="container">
        <div class="section-title wow fadeInUp">
          <h4>OUR SPONSORS</h4>
        </div>

        <div class="wow bounceIn" style="padding-bottom: 3em">
          <div class="row">
            <img :src="sponsor.image_diamond" class="center-block" alt="sponsor" width="80%"
              style="padding-bottom: 2em" />
          </div>
          <div class="row">
              <img :src="sponsor.image_platinum" class="img-responsive center-block" alt="sponsor" width="80%"
                style="padding-bottom: 0.5em" />
          </div>
          <div class="row">
              <img :src="sponsor.image_gold" class="img-responsive center-block" alt="sponsor" width="75%"
                style="padding-bottom: 0.5em" />
          </div>
          <div class="row">
              <img :src="sponsor.image_silver1" class="img-responsive center-block" alt="sponsor" width="80%"
                style="padding-bottom: 0.5em" />
          </div>
          <div class="row">
              <img :src="sponsor.image_silver2" class="img-responsive center-block" alt="sponsor" width="80%"
                style="padding-bottom: 0.5em" />
          </div>
          <div class="row">
              <img :src="sponsor.image_bronze" class="img-responsive center-block" alt="sponsor" width="80%"
                style="padding-bottom: 0.5em" />
          </div>
          <div class="row">
              <img :src="sponsor.image_donor" class="img-responsive center-block" alt="sponsor" width="80%"
                style="padding-bottom: 0.5em" />
          </div>
         
         
        </div>
      </div>
    </section>

    <footer-frontend></footer-frontend>

    <modal v-for="record in modalList" :key="record.id" :id="record.id">
      <template v-slot:header>
        <button type="button" class="close" @click="closeModal(record.id)" aria-label="Close">

          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title text-center">{{ record.title }}</h4>
      </template>
      <template v-slot:body>

        <div v-if="record.id == 'registration'">
<!-- 
          <div class="mb-5">
            Ps : Hanya untuk trial, registrasi di buka tanggal 6 Juli 2024.
          </div> -->

          <div v-if="!showListVoting" style="padding-left: 15px; padding-right: 15px">


            <div class="row">
              <div class="form-group">
                <label>NIK ID CARD KARYAWAN<span class="text-danger">*</span></label>
                <input type="text" :class="isNikError" name="nik" placeholder="NIK" autocomplete="off"
                  aria-required="true" v-model="form.nik" @blur="validateNik()" />
                <div class="is-invalid-feedback" v-if="hasError.nik.flag">
                  {{ hasError.nik.msg }}
                </div>
              </div>
            </div>
            <!-- <div class="row">
              <div class="form-group">
                <label>Password<span class="text-danger">*</span></label>
                <input type="password" :class="isPassError" name="password" placeholder="DDMMYYYY" autocomplete="off"
                  aria-required="true" @blur="validatePass()" v-model="form.password" />
                <span style="help-block">(format : DDMMYYYY)</span>
                <div class="is-invalid-feedback" v-if="hasError.password.flag">
                  {{ hasError.password.msg }}
                </div>
              </div>
            </div> -->
            <div class="row">
              <div class="form-group">
                <label>Whatsapp Number<span class="text-danger">*</span></label>
                <input type="text" :class="isPhoneNumberError" name="phone_number" placeholder="Whatsapp Number"
                  autocomplete="off" aria-required="true" v-model="form.phone_number" @blur="validatePhone()"
                  @keypress="isNumber($event)" />
                <span style="help-block">(format : +628xxxxx)</span>
                <div class="is-invalid-feedback" v-if="hasError.phone_number.flag">
                  {{ hasError.phone_number.msg }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label>Email<span class="text-danger">* (Use e-mail 'gmail.com')</span></label>
                <input type="email" :class="isEmailError" name="email" placeholder="Email" :autocomplete="off"
                  aria-required="true" @blur="validateEmail()" v-model="form.email" />
                <div class="is-invalid-feedback" v-if="hasError.email.flag">
                  {{ hasError.email.msg }}
                </div>
              </div>
            </div>
          </div>
          <div v-else style="padding-left: 15px; padding-right: 15px">
            <div v-if="isPages == 'voting_photo'">
              <div class="container-fluid">
                <div class="row col-xs-12">
                  <label>Votes Photo<span class="text-danger">*</span></label>

                </div>
                <div class="row col-xs-12">
                  <div class="col-xs-6 p-2 d-flex align-items-center" :class="{
                    selected: form.vote_photo === candidate_photo.id,
                    Unselected: form.vote_photo !== candidate_photo.id,
                  }" v-for="(candidate_photo, index) in candidates_photo" :key="candidate_photo.id"
                    style="width: 50%; height: 95px; margin:0; padding:0;">
                    <center>
                      <div class="container3 d-flex justify-content-center">
                        <img :src="candidate_photo.voter_image_url" :alt="candidate_photo.description" class="image3"
                          @click="voteCandidatePhoto(candidate_photo.id)" style="border-radius: 15px; width: 162px;" />
                        <div class="middle2">
                          <a class="btn btn-primary text-white-50" @click="showMe(candidate_photo)">Show</a>
                        </div>
                      </div>
                    </center>
                  </div>

                </div>
              </div>
            </div>
            <div v-else>
              <div class="container-fluid">
                <div class="row col-xs-12">
                  <label>Votes Video<span class="text-danger">*</span></label>

                </div>
                <div class="row col-xs-12">
                  <div class="col-xs-6 p-2 d-flex align-items-center" :class="{
                    selected: form.vote_video === candidate_video.id,
                    Unselected: form.vote_video !== candidate_video.id,
                  }" v-for="(candidate_video, index) in candidates_video" :key="candidate_video.id"
                    style="width: 50%; height: 95px; margin:0; padding:0;">
                    <center>
                      <div class="container3 d-flex justify-content-center">
                        <img :src="candidate_video.voter_image_url" :alt="candidate_video.description" class="image3"
                          @click="voteCandidateVideo(candidate_video.id)" style="border-radius: 15px; width: 162px;" />
                        <div class="middle2">
                          <a class="btn btn-primary text-white-50" @click="showMe(candidate_video)">Show</a>
                        </div>
                      </div>
                    </center>
                  </div>

                </div>
              </div>
            </div>

            <!-- <div class="container-fluid">
                                                      <div class="row col-xs-12">
                                                        <label>Votes<span class="text-danger">*</span></label>

                                                      </div>
                                                      <div class="row col-xs-12">
                                                        <div class="col-xs-6 p-2" :class="{
                                                          selected: form.vote === candidate.id,
                                                          Unselected: form.vote !== candidate.id,
                                                        }" v-for="(candidate, index) in candidates" :key="candidate.id"
                                                          style="width: 50%; height: 95px; margin:0; padding:0;">
                                                          <center>
                                                            <div class="container2">
                                                              <img :src="candidate.voter_image_url" :alt="candidate.description" class="image2"
                                                                @click="voteCandidate(candidate.id)" />
                                                              <div class="middle2">
                                                                <a class="btn btn-primary text-white-50" @click="showMe(candidate)">Show</a>
                                                              </div>
                                                            </div>
                                                          </center>
                                                        </div>

                                                      </div>
                                                    </div> -->

          </div>
        </div>
        <div v-if="record.id == 'login'" style="padding-left: 15px; padding-right: 15px">
          <div class="row">
            <img :src="logo_blck" alt="avatar" class="img-responsive center-block" style="width: 7em" />
          </div>
          <div class="row">
            <div class="form-group">
              <label>NIK ID CARD KARYAWAN<span class="text-danger">*</span></label>
              <input type="text" :class="isNikError" name="nik" placeholder="Nik" autocomplete="off" aria-required="true"
                v-model="form.nik" @blur="validateNik()" />
              <div class="is-invalid-feedback" v-if="hasError.nik.flag">
                {{ hasError.nik.msg }}
              </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="form-group">
              <label>Password<span class="text-danger">*</span></label>
              <input type="password" :class="isPassError" name="password" placeholder="password" autocomplete="off"
                aria-required="true" @blur="validatePass()" v-model="form.password" />
              <div class="is-invalid-feedback" v-if="hasError.password.flag">
                {{ hasError.password.msg }}
              </div>
            </div>
          </div> -->
        </div>
      </template>

      <template v-slot:footer>
        <div class="text-center top-space" v-if="record.id === 'registration' && !showListVoting">
          <button type="button" id="register-btn" class="btn btn-lg btn-outline-primary border-primary rounded-round"
            @click="doStore()">
            Submit
          </button>
          <!-- <button type="button" id="submit-btn" class="btn btn-lg btn-outline-primary border-primary rounded-round"
            @click="goNextPage('voting_video')">
            Next
          </button> -->
        </div>
        <!-- <div class="text-center top-space"
          v-if="record.id === 'registration' && showListVoting && isPages === 'voting_photo'">
          <button type="button" id="register-btn" class="
              btn btn-lg btn-outline-secondary
              border-secondary
              rounded-round
            "
            @click="goNextPage('form')">
            Back
          </button>
          <button type="button" id="submit-btn" class="btn btn-lg btn-outline-primary border-primary rounded-round"
            @click="goNextPage('voting_video')">
            Next
          </button>
        </div> -->
        <div class="text-center top-space"
          v-if="record.id === 'registration' && showListVoting && isPages === 'voting_video'">
          <!-- <button type="button" id="register-btn" class="
              btn btn-lg btn-outline-secondary
              border-secondary
              rounded-round
            "
            @click="goNextPage('voting_photo')">
            Back
          </button> -->
          <button type="button" id="register-btn" class="
              btn btn-lg btn-outline-secondary
              border-secondary
              rounded-round
            "
            @click="goNextPage('form')">
            Back 
          </button>
          <button type="button" id="submit-btn" class="btn btn-lg btn-outline-primary border-primary rounded-round"
            @click="doStore()">
            Submit
          </button>
        </div>
        <div class="text-center top-space" v-if="record.id === 'login'">
          <button type="button" id="register-btn" class="btn btn-default btn-outline btn-lg" @click="closeModal('login')">
            Close
          </button>
          <button type="button" id="submit-btn" class="btn btn-success btn-lg" @click="doLogin()">
            Login
          </button>
        </div>
      </template>
    </modal>
    <BlockUI v-show="isLoading"><img src="/images/loading.gif" /></BlockUI>
  </div>
</template>
<script>
import modal from "./Modal.vue";
import rundownEvent from "./RundownEvent";
export default {
  components: {
    modal,
    rundownEvent,
  },
  data() {
    return {
      modalList: [
        {
          id: "registration",
          title: "Registrations",
        },
        {
          id: "login",
          title: "Login",
        },
      ],
      modalTitle: "",
      logo_blck: "/images/logo.png",
      logo_scr: "/images/logo_white.png",
      logo_triputra: "/images/logo_triputra.png",
      logo_bbi: "/images/logo_bbi.png",
      logo_aoi: "/images/logo_aoi.png",
      gallery: [
      {
          year: 'Zumba Bersama Nawa',
          images: {
            image1: "/images/bif_documentation/Zumba_Nawa/gallery_1.jpeg",
            image2: "/images/bif_documentation/Zumba_Nawa/gallery_2.jpeg",
            image3: "/images/bif_documentation/Zumba_Nawa/gallery_3.jpeg",
            image4: "/images/bif_documentation/Zumba_Nawa/gallery_4.jpeg",
            image5: "/images/bif_documentation/Zumba_Nawa/gallery_1.jpeg",
          },
        },
       {
          year: 'Pra BIF 2024 DC',
          images: {
            image1: "/images/bif_documentation/pra_bif_2024_dc/gallery_1.jpeg",
            image2: "/images/bif_documentation/pra_bif_2024_dc/gallery_2.jpeg",
            image3: "/images/bif_documentation/pra_bif_2024_dc/gallery_3.jpeg",
            image4: "/images/bif_documentation/pra_bif_2024_dc/gallery_4.jpeg",
            image5: "/images/bif_documentation/pra_bif_2024_dc/gallery_5.jpeg",
          },
        },
       {
          year: 'Pra BIF 2024 AOI3',
          images: {
            image1: "/images/bif_documentation/pra_bif_2024_aoi3/gallery_1.jpeg",
            image2: "/images/bif_documentation/pra_bif_2024_aoi3/gallery_2.jpeg",
            image3: "/images/bif_documentation/pra_bif_2024_aoi3/gallery_3.jpeg",
            image4: "/images/bif_documentation/pra_bif_2024_aoi3/gallery_4.jpeg",
            image5: "/images/bif_documentation/pra_bif_2024_aoi3/gallery_5.jpeg",
          },
        },
        {
          year: 'Pra BIF 2024 AOI 2',
          images: {
            image1: "/images/bif_documentation/pra_bif_2024_aoi2/gallery_1.jpeg",
            image2: "/images/bif_documentation/pra_bif_2024_aoi2/gallery_2.jpeg",
            image3: "/images/bif_documentation/pra_bif_2024_aoi2/gallery_3.jpeg",
            image4: "/images/bif_documentation/pra_bif_2024_aoi2/gallery_4.jpeg",
            image5: "/images/bif_documentation/pra_bif_2024_aoi2/gallery_5.jpeg",
          },
        },
        {
          year: 'Pra BIF 2024 AOI 1',
          images: {
            image1: "/images/bif_documentation/pra_bif_2024_aoi1/gallery_1.jpeg",
            image2: "/images/bif_documentation/pra_bif_2024_aoi1/gallery_2.jpeg",
            image3: "/images/bif_documentation/pra_bif_2024_aoi1/gallery_3.jpeg",
            image4: "/images/bif_documentation/pra_bif_2024_aoi1/gallery_4.jpeg",
            image5: "/images/bif_documentation/pra_bif_2024_aoi1/gallery_5.jpeg",
          },
        },
        {
          year: 2023,
          images: {
            image1: "/images/bif_documentation/2023/gallery_1.jpeg",
            image2: "/images/bif_documentation/2023/gallery_2.jpeg",
            image3: "/images/bif_documentation/2023/gallery_3.jpeg",
            image4: "/images/bif_documentation/2023/gallery_4.jpeg",
            image5: "/images/bif_documentation/2023/gallery_5.jpeg",
          },
        },
        {
          year: 2022,
          images: {
            image1: "/images/bif_documentation/2022/gallery_1.jpg",
            image2: "/images/bif_documentation/2022/gallery_2.jpg",
            image3: "/images/bif_documentation/2022/gallery_3.jpg",
            image4: "/images/bif_documentation/2022/gallery_4.jpg",
            image5: "/images/bif_documentation/2022/gallery_5.jpg",
          },
        },
        {
          year: 2021,
          images: {
            image1: "/images/bif_documentation/2021/gallery_1.jpg",
            image2: "/images/bif_documentation/2021/gallery_2.jpg",
            image3: "/images/bif_documentation/2021/gallery_3.jpg",
            image4: "/images/bif_documentation/2021/gallery_4.jpg",
            image5: "/images/bif_documentation/2021/gallery_5.jpg",
          },
        },
        {
          year: 2020,
          images: {
            image1: "/images/bif_documentation/2020/gallery_1.jpg",
            image2: "/images/bif_documentation/2020/gallery_2.jpg",
            image3: "/images/bif_documentation/2020/gallery_3.jpg",
            image4: "/images/bif_documentation/2020/gallery_4.jpg",
            image5: "/images/bif_documentation/2020/gallery_5.jpg",
          },
        },
        {
          year: 2019,
          images: {
            image1: "/images/bif_documentation/2019/gallery_1.jpg",
            image2: "/images/bif_documentation/2019/gallery_2.jpg",
            image3: "/images/bif_documentation/2019/gallery_3.jpg",
            image4: "/images/bif_documentation/2019/gallery_4.jpg",
            image5: "/images/bif_documentation/2019/gallery_5.jpg",
          },
        },
        {
          year: 2018,
          images: {
            image1: "/images/bif_documentation/2018/gallery_1.jpg",
            image2: "/images/bif_documentation/2018/gallery_2.jpg",
            image3: "/images/bif_documentation/2018/gallery_3.jpg",
            image4: "/images/bif_documentation/2018/gallery_4.jpg",
            image5: "/images/bif_documentation/2018/gallery_5.jpg",
          },
        },
        {
          year: 2017,
          images: {
            image1: "/images/bif_documentation/2017/gallery_1.jpg",
            image2: "/images/bif_documentation/2017/gallery_2.jpg",
            image3: "/images/bif_documentation/2017/gallery_3.jpg",
            image4: "/images/bif_documentation/2017/gallery_4.jpg",
            image5: "/images/bif_documentation/2017/gallery_5.jpg",
          },
        },
        // {
        //   year: 2016,
        //   images: {
        //     image1: "/images/bif_documentation/2016/gallery_1.jpg",
        //     image2: "/images/bif_documentation/2016/gallery_2.jpg",
        //     image3: "/images/bif_documentation/2016/gallery_3.jpg",
        //     image4: "/images/bif_documentation/2016/gallery_4.jpg",
        //     image5: "/images/bif_documentation/2016/gallery_5.jpg",
        //   },
        // },
      ],
      sponsor: {
        image_diamond: "/images/sponsor19/diamond/DIAMON.jpg",
        image_platinum: "/images/sponsor19/platinum/PLATINUM.jpg",
        image_gold: "images/sponsor19/gold/GOLD.jpg",
       
        image_silver1: "images/sponsor19/silver/SILVER1.jpg",
        image_silver2: "images/sponsor19/silver/SILVER2.jpg",
        
        image_bronze: "images/sponsor19/bronze/BRONZE.jpg",
        image_donor: "images/sponsor19/donor/DONOR.jpg",

        
      },
      form: {
        nik: "",
        password: "",
        phone_number: "",
        vote_photo: "",
        vote_video: "",
      },
      hasError: {
        nik: {
          flag: false,
          msg: "Nik field is required",
        },
        // password: {
        //   flag: false,
        //   msg: "Password field is required",
        // },
        phone_number: {
          flag: false,
          regex: /^(\+62)8[1-9][0-9]{6,20}$/,
          msg: "Whatsapp field is required",
        },
        vote: {
          flag: false,
          msg: "Vote field is required",
        },
        email: {
          flag: false,
          regex: /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/,
          msg: "Email field is required",
        },
      },
      candidates_photo: [],
      candidates_video: [],
      isShowVoting: false,
      isLoading: false,
      isPages: "",
    };
  },
  mounted() {
    this.isShowVoting = true;

    this.getCandidatePhoto();
    this.getCandidateVideo();
    $(".popup-gallery").magnificPopup({
      delegate: "a",
      type: "image",
      tLoading: "Loading image #%curr%...",
      mainClass: "mfp-img-mobile",
      gallery: {
        enabled: true,
        navigateByImgClick: true,
        preload: [0, 1], // Will preload 0 - before current, and 1 after the current image
      },
      image: {
        tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
      },
      zoom: {
        enabled: true,
        duration: 300, // don't foget to change the duration also in CSS
        opener: function (element) {
          return element.find("img");
        },
      },
    });

    if ($(".flexslider").length) {
      $(".flexslider").flexslider({
        animation: "slide",
        useCSS: Modernizr.touch,
      });
    }
  },
  watch: {
    "$store.state.showLoginDialog": function () {
      if (this.$store.state.showLoginDialog) {
        this.showModal("login");
        this.$store.commit("frontAuthenticated", {
          isUserLogin: false,
          showLoginDialog: false,
          tokenFront: window.localStorage.getItem("tokenFront"),
        });
      }
    },
  },
  methods: {
    getCandidatePhoto() {
      return axios.get("/api/candidate_photo").then((response) => {
        this.candidates_photo = response.data.data.candidates;
      });
    },
    getCandidateVideo() {
      return axios.get("/api/candidate_video").then((response) => {
        this.candidates_video = response.data.data.candidates;
      });
    },
    showModal(modalName) {
      if (modalName == "registration") {
        if (new Date() < new Date('2024-07-06 07:00:00')) {
          Swal({
            type: "info",
            title: 'Registration is not open yet',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener("mouseenter", Swal.stopTimer);
              toast.addEventListener("mouseleave", Swal.resumeTimer);
            },
          });
          return;
        }
        // if (new Date() > new Date('2023-07-07 18:00:00')) {
        //   Swal({
        //     type: "info",
        //     title: 'Registration already closed',
        //     showConfirmButton: false,
        //     timer: 3000,
        //     timerProgressBar: true,
        //     didOpen: (toast) => {
        //       toast.addEventListener("mouseenter", Swal.stopTimer);
        //       toast.addEventListener("mouseleave", Swal.resumeTimer);
        //     },
        //   });
        //   return;
        // }
        this.resetForm();
      }

      this.modalTitle = modalName;
      $(`#${modalName}`).modal("show");
    },
    closeModal(id) {
      this.resetForm();
      $(`#${id}`).modal("hide");
    },
    resetForm() {
      this.form = {
        nik: "",
        password: "",
        phone_number: "",
        email: "",
        vote_photo: "",
        vote_video: "",
      };

      this.isShowVoting = false;
      this.hasError.nik.flag = false;
      // this.hasError.password.flag = false;
      this.hasError.phone_number.flag = false;
      this.hasError.email.flag = false;
      this.hasError.vote.flag = false;
    },
    goNextPage(page) {
      console.log(page);
      if (page == "voting_photo") {
        if (this.hasError.email.flag == true) {
          return;
        }
        axios.get('/api/checkvoting/' + this.form.nik).then((response) => {
          // console.log(response.data.data.participant);
          if (response.data.meta.message == true) {
            if (response.data.data.message != 200) {
              Swal({
                type: "error",
                title: response.data.data.message,
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                  toast.addEventListener("mouseenter", Swal.stopTimer);
                  toast.addEventListener("mouseleave", Swal.resumeTimer);
                },
              }).then(function () {
                return;
              });
            }
            window.location.assign(response.data.data.participant.url_invitation_card);
            // window.open(response.data.data.url_invitation_card);
            return this.closeModal("registration");
          }
          if (!this.hasError.email.regex.test(this.form.email)) {
            this.hasError.email.flag = true;
            this.hasError.email.msg = "Email format is wrong";
            return;
          }
          this.hasError.nik.flag = this.form.nik ? false : true;
          // this.hasError.password.flag = this.form.password ? false : true;
          this.hasError.phone_number.flag = this.form.phone_number ? false : true;
          if (!this.hasError.phone_number.regex.test(this.form.phone_number)) {
            this.hasError.phone_number.flag = true;
            this.hasError.phone_number.msg = "Format phone is wrong";
          }
          if (
            !this.hasError.nik.flag &&
            // !this.hasError.password.flag &&
            !this.hasError.phone_number.flag
          ) {
            this.isShowVoting = true;
            this.isPages = "voting_photo";

          }
        })

      } else if (page == "voting_video") {
        // if(this.form.vote_photo == ''){
        //   // return alert('vote photo first');
        //   Swal({
        //     type: "info",
        //     title: 'Vote photo first',
        //     showConfirmButton: false,
        //     timer: 3000,
        //     timerProgressBar: true,
        //     didOpen: (toast) => {
        //       toast.addEventListener("mouseenter", Swal.stopTimer);
        //       toast.addEventListener("mouseleave", Swal.resumeTimer);
        //     },
        //   });
        //   return;
        // }
        console.log(this.hasError.email.flag == true);
        if (this.hasError.email.flag == true) {
          return;
        }
        axios.get('/api/checkvoting/' + this.form.nik).then((response) => {
          // console.log(response.data.data.participant);
          if (response.data.meta.message == true) {
            if (response.data.data.message != 200) {
              Swal({
                type: "error",
                title: response.data.data.message,
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                  toast.addEventListener("mouseenter", Swal.stopTimer);
                  toast.addEventListener("mouseleave", Swal.resumeTimer);
                },
              }).then(function () {
                return;
              });
            }
            window.location.assign(response.data.data.participant.url_invitation_card);
            // window.open(response.data.data.url_invitation_card);
            return this.closeModal("registration");
          }
          if (!this.hasError.email.regex.test(this.form.email)) {
            this.hasError.email.flag = true;
            this.hasError.email.msg = "Email format is wrong";
            return;
          }
          this.hasError.nik.flag = this.form.nik ? false : true;
          // this.hasError.password.flag = this.form.password ? false : true;
          this.hasError.phone_number.flag = this.form.phone_number ? false : true;
          if (!this.hasError.phone_number.regex.test(this.form.phone_number)) {
            this.hasError.phone_number.flag = true;
            this.hasError.phone_number.msg = "Format phone is wrong";
          }
          if (
            !this.hasError.nik.flag &&
            // !this.hasError.password.flag &&
            !this.hasError.phone_number.flag
          ) {
            this.isShowVoting = true;
            this.isPages = "voting_video";
            console.log("showing video");
          }
        })

      } else {
        this.isShowVoting = false;
      }
    },
    validateNik() {
      if (this.form.nik) {
        this.hasError.nik.flag = false;
      } else {
        this.hasError.nik.flag = true;
      }
    },
    validatePass() {
      if (this.form.password) {
        this.hasError.password.flag = false;
      } else {
        this.hasError.password.flag = true;
      }
    },
    validatePhone() {
      if (this.form.phone_number) {
        if (!this.hasError.phone_number.regex.test(this.form.phone_number)) {
          this.hasError.phone_number.flag = true;
          this.hasError.phone_number.msg = "Format phone is wrong";
        } else this.hasError.phone_number.flag = false;
      } else {
        this.hasError.phone_number.flag = true;
      }
    },
    validateEmail() {
      let cek_email = this.form.email.split('@');
      console.log(cek_email[1]);
      if (cek_email[1] != 'gmail.com') {
        this.hasError.email.flag = true;
        this.hasError.email.msg = "Use e-mail 'gmail.com'";
        return;
      }
      if (this.form.email) {
        if (!this.hasError.email.regex.test(this.form.email)) {
          this.hasError.email.flag = true;
          this.hasError.email.msg = "Email format is wrong";
          return;
        } else {
          this.hasError.email.flag = false;
        }
      } else {
        this.hasError.email.flag = true;
      }
    },
    isNumber: function (evt) {
      evt = evt ? evt : window.event;
      let charCode = evt.which ? evt.which : evt.keyCode;
      if (
        charCode > 31 &&
        (charCode < 48 || charCode > 57) &&
        charCode !== 46 &&
        charCode !== 43
      ) {
        evt.preventDefault();
      } else {
        return true;
      }
    },
    voteCandidatePhoto(id) {
      this.form.vote_photo = id;
    },
    voteCandidateVideo(id) {
      console.log(id)
      this.form.vote_video = id;
    },
    showMe(candidate) {
      if(this.isPages == 'voting_photo'){
        this.form.vote_photo = candidate.id;
      }else{
        this.form.vote_video = candidate.id;
      }
      let video = $('#videoMe')[0];
      // $('.fade-wrapper').addClass('show');
      if (candidate.mime_content_type === 'image') {
        $('#videoMe').addClass('hidden');
        $('#gambar').removeClass('hidden');
        $('#gambar').attr('src', candidate.voter_image_url);
        if (!video.paused) {
          video.pause();
          video.currentTime = 0;
        }
      } else {
        console.log(candidate);
        console.log(video);
        $('#gambar').addClass('hidden');
        $('#videoMe').removeClass('hidden');
        $(video).find("source").attr("src", candidate.video_url);
        video.load();
        video.play();
      }
      $('#fade-wrapper').fadeIn();
    },
    closeMe() {
      // console.log('ini di klik');
      $("#videoMe").each(function () {
        // this.currentTime = 0;
        this.pause(); // Pause each video element
        $(this).find("source").attr("src", '');
      });
      $('#fade-wrapper').fadeOut();
    },
    unVoteCandidate_photo() {
      this.form.vote_photo = "";
    },
    unVoteCandidate_video() {
      this.form.vote_video = "";
    },
    doStore() {
      console.log("store");
      // this.form.vote_photo = false;
      this.form.vote_video = true;
      if (this.form.vote_video) {
        this.isLoading = true;
        axios
          .post("/api/registration", this.form)
          .then((response) => {
            console.log(response);
            Swal({
              type: "success",
              title: "See you there !",
              showConfirmButton: false,
              timer: 3000,
              timerProgressBar: true,
              didOpen: (toast) => {
                toast.addEventListener("mouseenter", Swal.stopTimer);
                toast.addEventListener("mouseleave", Swal.resumeTimer);
              },
            }).then(function () {
              window.location.assign(response.data.data.participant.url_invitation_card);
              // window.open(response.data.data.participant.url_invitation_card);
            });

            this.isLoading = false;
            this.closeModal("registration");
            // console.log(response.data.data.participant);
          })
          .catch((error) => {
            this.isLoading = false;
            if (error.response.status == "500") {
              Swal({
                type: "error",
                title: "Oops, something went wrong",
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                  toast.addEventListener("mouseenter", Swal.stopTimer);
                  toast.addEventListener("mouseleave", Swal.resumeTimer);
                },
              });
            } else {
              Swal({
                type: "info",
                title: error.response.data.errors,
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                  toast.addEventListener("mouseenter", Swal.stopTimer);
                  toast.addEventListener("mouseleave", Swal.resumeTimer);
                },
              });
            }
          });
      } else {
        Swal({
          type: "warning",
          title: "Please do vote first",
          showConfirmButton: false,
          timer: 3000,
          timerProgressBar: true,
          didOpen: (toast) => {
            toast.addEventListener("mouseenter", Swal.stopTimer);
            toast.addEventListener("mouseleave", Swal.resumeTimer);
          },
        });
      }
    },
    doLogin() {
      axios
        .post("/api/login", this.form)
        .then((response) => {
          this.$store.commit("frontAuthenticated", {
            tokenFront: response.data.data.token,
            showLoginDialog: false,
            isUserLogin: true,
          });

          this.closeModal("login");
          this.$router.push({ name: this.$store.state.selectedFrontPage });
        })
        .catch((error) => {
          if (error.response.status == "500") {
            Swal({
              type: "error",
              title: "Something went wrong, please contact ICT",
              showConfirmButton: false,
              timer: 3000,
              timerProgressBar: true,
              didOpen: (toast) => {
                toast.addEventListener("mouseenter", Swal.stopTimer);
                toast.addEventListener("mouseleave", Swal.resumeTimer);
              },
            });
          } else {
            if (error.response) {
              if (error.response.data.errors) {
                if (error.response.data.errors.hasOwnProperty("nik")) {
                  this.hasError.nik.flag = true;
                  this.hasError.nik.msg = error.response.data.errors.nik[0];
                } else {
                  this.hasError.nik.flag = false;
                  this.hasError.nik.msg = "Nik field is required";
                }

                // if (error.response.data.errors.hasOwnProperty("password")) {
                //   this.hasError.password.flag = true;
                //   this.hasError.password.msg =
                //     error.response.data.errors.password[0];
                // } else {
                //   this.hasError.password.flag = false;
                //   this.hasError.password.msg = "Password field is required";
                // }
              } else {
                this.hasError.nik.flag = false;
                // this.this.hasError.password.flag = false;
                this.hasError.nik.msg = "Nik field is required";
                // this.hasError.password.msg = "Password field is required";
              }
            }
          }
        });
    },
  },
  computed: {
    showListVoting() {
      return this.isShowVoting;
    },
    isNikError: function () {
      return this.hasError.nik.flag
        ? "form-control is-error-validated"
        : "form-control";
    },
    isPassError: function () {
      return this.hasError.password.flag
        ? "form-control is-error-validated"
        : "form-control";
    },
    isPhoneNumberError: function () {
      return this.hasError.phone_number.flag
        ? "form-control is-error-validated"
        : "form-control";
    },
    isEmailError: function () {
      return this.hasError.email.flag
        ? "form-control is-error-validated"
        : "form-control";
    },
  },
  created() {
    this.$root.$refs.landingPage = this;
  },
};
</script>