<template>
  <div
    class="modal fade"
    :id="id"
    role="dialog"
    aria-labelledby="modal"
    aria-hidden="true"
    data-backdrop="static"
    data-keyboard="false"
  >
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <slot name="header"> This is the default header! </slot>
        </div>
        <div class="modal-body">
          <slot name="body"> This is the default body! </slot>
        </div>
        <div class="modal-footer">
          <slot name="footer"> This is the default footer! </slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["id", "modalTitle"],
  mounted() {},
};
</script>