<template>
  <div class="container" id="schedule">
    <div class="row">
      <div class="section-title wow fadeInUp">
        <h4>THE SCHEDULE</h4>
      </div>

      <div class="nav-center">
        <ul class="nav nav-pills" role="tablist" id="schedule-tabs">
          <li
            role="presentation"
            v-for="(record, index) in records"
            :key="record.event_date"
            @click="currentTab = index"
            :class="{ active: currentTab === index }"
          >
            <a
              :href="'#' + record.event_date"
              :aria-controls="'#' + record.event_date"
              role="tab"
              data-toggle="tab"
              >Day {{ index + 1 }}</a
            >
          </li>
        </ul>
      </div>

      <div class="tab-content">
        <div
          role="tabpanel"
          class="tab-pane active"
          :id="record.event_date"
          :key="record.event_date"
          v-for="record in records"
        >
          <section class="timeline">
            <div
              class="timeline-block"
              v-for="item in record.items"
              :key="item.id"
            >
              <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>

              <div class="timeline-content">
                <h2 class="wow flipInX" data-wow-delay="0.3s">
                  {{ item.name }}
                </h2>
                <p class="wow flipInX" data-wow-delay="0.3s">
                  {{ item.description }}<br />
                  <i class="fa fa-map-marker"></i> {{ item.location }}
                </p>
                <span class="date wow flipInX" data-wow-delay="0.3s">
                  {{ item.time }}</span
                >
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      records: [],
      currentTab: 0,
    };
  },
  methods: {
    getData() {
      return axios.get("/api/rundown-event").then((response) => {
        this.records = response.data.data.rundown_event;
      });
    },
  },
  created() {
    this.getData();
  },
};
</script>