<style>
.container3 {
  position: relative;
  /* display: flex; */
  justify-content: center;
  /* Mengatur konten menjadi rata tengah secara horizontal */
  align-items: center;
  /* Mengatur konten menjadi rata tengah secara vertikal */
  width: 100%;
  /* height: 95px; */
}

.image3 {
  opacity: 1;
  /* display: block; */
  transition: .5s ease;
  backface-visibility: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  /* max-width: 100%;
  max-height: 95px;
  padding: 5px;
  margin: auto; */

}

.middle2 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container3:hover .image3 {
  opacity: 0.3;
}

.container3:hover .middle2 {
  opacity: 1;
}

.text2 {
  background-color: #337ab7;
  color: white;
  font-size: 10px;
  padding: 10px;
}

#fade-wrapper {
  display: none;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

#gambar {
  max-width: 100vw;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;

}

.btn-default {
  border-color: black;
  background-color: black;
  color: white;
}

.btn-default:hover {
  border-color: black;
  /* background-color: black; */
  color: black;
}
.logo_bif{
  left: 50%;
  top: 9%;
  position: absolute;
  transform: translate(-50%, -50%);
}
</style>
<template>
  <div>
    <div id="fade-wrapper" @click="closeMe()">
      <img src="" class="gambar hidden" id="gambar" alt="">
      <video id="videoMe" class="gambar hidden" width="640" height="360" controls>
        <source src="" type="video/mp4">
      </video>
    </div>
    <nav class="navbar navbar-default hidden">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
            aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img :src="logo_scr" alt="Bif" width="30em" />
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <router-link :to="{ name: 'landing_page' }">Home</router-link>
            </li>
            <li class="dropdown active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">Pages <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="active">
                  <router-link :to="{ name: 'votes' }">Votes</router-link>
                </li>
                <li>
                  <router-link :to="{ name: 'slot' }">Doorprize</router-link>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </nav>
    
    <a class="logo_bif" href="/"><img :src="logo_scr" alt="Bif" width="100em" />
      </a>
    <div class="container" style="margin-top:10% ;">
      <div class="row">
        <div class="col-xs-4 text-center" v-for="(item, index) in votes" :key="item.id">
          <div>
            <div class="thumbnail wow fadeInUp container3" style="border-radius: 25px; padding-top:20px">
              <img :src="item.url" class="image3" :alt="item.url"
                style="height: 175px; width: auto; border-radius: 10px;" />
              <div class="middle2">
                <a class="btn btn-primary text-white-50" @click="showMe(item)">Show</a>
              </div>
              <div class="caption">
                <h6 class="caption-title">Total Vote : {{ item.total }}</h6>
              </div>

              <!-- <div class="container2 d-flex justify-content-center">
                                                    <img :src="item.url" :alt="item.url" class="image2"
                                                      style="height: 175px; width: auto; border-radius: 10px;" />


                                                    <div class="middle2">
                                                      <a class="btn btn-primary text-white-50" @click="showMe(item)">Show</a>
                                                    </div>
                                                  </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {},
  data() {
    return {
      votes: [],
      logo_scr: "/images/logo.png",
    };
  },
  computed: {},
  mounted() {
    document.body.classList.add("body-bg-img");
  },
  destroyed() {
    document.body.classList.remove("body-bg-img");
  },
  methods: {
    getCart() {
      return axios
        .get("/api/vote-chart", {
          headers: {
            Authorization: "Bearer " + this.$store.state.tokenFront,
          },
        })
        .then((response) => {
          this.votes = response.data.data.chart;
        });
    },
    showMe(item) {
      console.log(item)
      let video = $('#videoMe')[0];
      // $('.fade-wrapper').addClass('show');
      if (item.mime_content_type === 'image') {
        $('#videoMe').addClass('hidden');
        $('#gambar').removeClass('hidden');
        $('#gambar').attr('src', item.url);
        if (!video.paused) {
          video.pause();
          video.currentTime = 0;
        }
      } else {
        console.log(item);
        // console.log(video);
        $('#gambar').addClass('hidden');
        $('#videoMe').removeClass('hidden');
        $(video).find("source").attr("src", item.video_url);
        video.load();
        video.play();
      }
      $('#fade-wrapper').fadeIn();
    },
    closeMe() {
      $('#fade-wrapper').fadeOut();
    }
  },
  created() {
    this.getCart();
  },
};
</script>